<div id="container" class="row">
    <div class="row">
        <div class="col-md-8">
            <div >
                <h2><strong>Liste des ordres de traveaux de la bon de commande :{{bondeCommande.codebc}}</strong></h2>
            </div>

        </div>
        <div class="col-md-9">
            <table class="table table-striped">
                <thead>
                    <tr class="table-title">
                        <th><span>id </span></th>
                        <th><span>code </span></th>
                        <th><span>date ordre </span></th>
                        <th><span>date début</span></th>
                        <th><span>delai</span></th>
                        <th><span>Montant</span></th>
                        <th><span>Action</span></th>

                        <th>
                            <input  [(ngModel)]="terme"  name="terme" type="search" data-toggle="modal" />
                        </th>


                    </tr>


                </thead>

                <tbody>
                     <tr *ngFor="let ot of listeOT 
                    | filter:terme | paginate : {
                        itemsPerPage:4,
                        currentPage:page,
                        totalItems:totalLength
                        }, let i=index">
                        <td>

                            <span class="label label-default">{{ot.id}}</span>
                        </td>

                        <td>
                            <span class="label label-default">{{ot.codeOrdre}}</span>
                        </td>
                        <td>
                            <span class="label label-default">{{ot.dateDebutOrdre}}</span>
                        </td>
                        <td>
                            <span class="label label-default">{{ot.dateOrdre}}</span>
                        </td>
                        <td>
                            <span class="label label-default">{{ot.delais}}</span>
                        </td>
                        <td>
                            <span class="label label-default">{{ot.montant}}</span>
                        </td>
                        <td> 
                            <button (click)=" ListeORdreDeffinitiveModal(ot.id)" class="btn mb-3 btn-sm btn-orange">Ordre déf</button>
                        </td>

                        <td> <button (click)="versAttachemntMC(ot.id)" class="btn mb-3 btn-sm btn-brown">Ajouter un
                                attachement</button></td>
          
                    </tr> <!--  -->

                </tbody>
            </table>
            <pagination-controls (pageChange)="page = $event" class="text-center entreprisePagination">
            </pagination-controls>
        </div>

</div>
</div>
        <div class="modal fade" id="listeDef" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="largeModalLabel">Liste des ordes définitives</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                                <tr class="table-title">
                                    <th><span>code article </span></th>
                                    <th><span>Désigniation </span></th>
                                    <th><span>Unité</span></th>
                                    <th><span>Quantité</span>
                                        &nbsp;

                                        &nbsp; <input  [(ngModel)]="terme2" name="terme" type="search" data-toggle="modal" />
                                    </th>


                                </tr>


                            </thead>
                            <tbody>

                                <tr *ngFor="let od of  ordresDefinitives | filter:terme2 | paginate : {
                                    itemsPerPage:4,
                                    currentPage:page,
                                    totalItems:totalLength
                                    }, let i=index">
                                    <td>

                                        <span class="label label-default">{{od.code}}</span>
                                    </td>

                                    <td>
                                        <span class="label label-default">{{od.designiation}}</span>
                                    </td>
                                    <td>
                                        <span class="label label-default">{{od.unitee}}</span>
                                    </td>
                                    <td>
                                        
                                        <span class="label label-default">{{od.quantiteeOrderee}}</span>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="page = $event" class="text-center entreprisePagination">
                        </pagination-controls>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
 
                    </div>
                </div>
            </div>
        </div>