<div class="container" id="main-container">
  <h2 style="font-weight:bold; text-align: center;"> Bon-De commande</h2>
  <div>
   <h3><strong>Code : </strong>{{bonDeCommande?.codebc}}</h3>
   <div class="row">
     <div class="col-md-4"><strong>Montant :</strong>{{bonDeCommande?.montant}}</div>
     <div class="col-md-4"><strong>Delais :</strong>{{bonDeCommande?.delais}}</div>
   </div>
   <div class="col-md-4"><h3><strong>Entreprise </strong> {{bonDeCommande?.nomEntreprise}}</h3></div>
     </div>
    <br>
   <div>
     <div>
       <table class="table table-primary table-hover table-striped">
         <thead>
           <tr>
             <th scope="col" class="bg-primary">N°</th>
             <th scope="col" class="bg-primary">Code</th>
             <th scope="col" class="bg-primary">Designation</th>
             <th scope="col" class="bg-primary">Unité</th>
             <th scope="col" class="bg-primary">Prix</th>
             <th scope="col" class="bg-primary">Quantité</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let article of bonDeCommande?.listeArticles ,let i= index">
             <th scope="row">{{i}}</th>
             <td>{{article.code}}</td>
             <td>{{article.designation}}</td>
             <td>{{article.unitee}}</td>
             <td>{{article.prix}}</td>
             <td>{{article.quantitee}}</td>
             <td><a type="button" class="btn btn-success" routerLink="/mycpm/articlesSpecifiees"><i class="fa fa-list-alt" aria-hidden="true"></i></a></td>

            
           </tr>
         </tbody>
        
       </table>
  </div>
  
  