
body{
    background:#f9f9fb;    
}
.view-account{
    background:#FFFFFF; 
    margin-top:20px;
}
.view-account .pro-label {
    font-size: 13px;
    padding: 4px 5px;
    position: relative;
    top: -5px;
    margin-left: 10px;
    display: inline-block
}

.view-account .side-bar {
    padding-bottom: 30px
}

.view-account .side-bar .user-info {
    text-align: center;
    margin-bottom: 15px;
    padding: 30px;
    color: #616670;
    border-bottom: 1px solid #f3f3f3
}

.view-account .side-bar .user-info .img-profile {
    width: 120px;
    height: 120px;
    margin-bottom: 15px
}

.view-account .side-bar .user-info .meta li {
    margin-bottom: 10px
}

.view-account .side-bar .user-info .meta li span {
    display: inline-block;
    width: 100px;
    margin-right: 5px;
    text-align: right
}

.view-account .side-bar .user-info .meta li a {
    color: #616670
}

.view-account .side-bar .user-info .meta li.activity {
    color: #a2a6af
}

.view-account .side-bar .side-menu {
    text-align: center
}

.view-account .side-bar .side-menu .nav {
    display: inline-block;
    margin: 0 auto
}

.view-account .side-bar .side-menu .nav>li {
    font-size: 14px;
    margin-bottom: 0;
    border-bottom: none;
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px
}

.view-account .side-bar .side-menu .nav>li:last-child {
    margin-right: 0
}

.view-account .side-bar .side-menu .nav>li>a {
    display: inline-block;
    color: #9499a3;
    padding: 5px;
    border-bottom: 2px solid transparent
}

.view-account .side-bar .side-menu .nav>li>a:hover {
    color: #616670;
    background: none
}

.view-account .side-bar .side-menu .nav>li.active a {
    color: #40babd;
    border-bottom: 2px solid #40babd;
    background: none;
    border-right: none
}

.theme-2 .view-account .side-bar .side-menu .nav>li.active a {
    color: #6dbd63;
    border-bottom-color: #6dbd63
}

.theme-3 .view-account .side-bar .side-menu .nav>li.active a {
    color: #497cb1;
    border-bottom-color: #497cb1
}

.theme-4 .view-account .side-bar .side-menu .nav>li.active a {
    color: #ec6952;
    border-bottom-color: #ec6952
}

.view-account .side-bar .side-menu .nav>li .icon {
    display: block;
    font-size: 24px;
    margin-bottom: 5px
}

.view-account .content-panel {
    padding: 30px
}

.view-account .content-panel .title {
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 18px
}

.view-account .content-panel .fieldset-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaf1;
    margin-bottom: 30px;
    color: #616670;
    font-size: 16px
}

.view-account .content-panel .avatar .figure img {
    float: right;
    width: 64px
}

.view-account .content-panel .content-header-wrapper {
    position: relative;
    margin-bottom: 30px
}

.view-account .content-panel .content-header-wrapper .actions {
    position: absolute;
    right: 0;
    top: 0
}

.view-account .content-panel .content-utilities {
    position: relative;
    margin-bottom: 30px
}

.view-account .content-panel .content-utilities .btn-group {
    margin-right: 5px;
    margin-bottom: 15px
}

.view-account .content-panel .content-utilities .fa {
    font-size: 16px;
    margin-right: 0
}

.view-account .content-panel .content-utilities .page-nav {
    position: absolute;
    right: 0;
    top: 0
}

.view-account .content-panel .content-utilities .page-nav .btn-group {
    margin-bottom: 0
}

.view-account .content-panel .content-utilities .page-nav .indicator {
    color: #a2a6af;
    margin-right: 5px;
    display: inline-block
}

.view-account .content-panel .mails-wrapper .mail-item {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #f3f3f3;
    color: #616670;
    overflow: hidden
}

.view-account .content-panel .mails-wrapper .mail-item>div {
    float: left
}

.view-account .content-panel .mails-wrapper .mail-item .icheck {
    background-color: #fff
}

.view-account .content-panel .mails-wrapper .mail-item:hover {
    background: #f9f9fb
}

.view-account .content-panel .mails-wrapper .mail-item:nth-child(even) {
    background: #fcfcfd
}

.view-account .content-panel .mails-wrapper .mail-item:nth-child(even):hover {
    background: #f9f9fb
}

.view-account .content-panel .mails-wrapper .mail-item a {
    color: #616670
}

.view-account .content-panel .mails-wrapper .mail-item a:hover {
    color: #494d55;
    text-decoration: none
}

.view-account .content-panel .mails-wrapper .mail-item .checkbox-container,
.view-account .content-panel .mails-wrapper .mail-item .star-container {
    display: inline-block;
    margin-right: 5px
}

.view-account .content-panel .mails-wrapper .mail-item .star-container .fa {
    color: #a2a6af;
    font-size: 16px;
    vertical-align: middle
}

.view-account .content-panel .mails-wrapper .mail-item .star-container .fa.fa-star {
    color: #f2b542
}

.view-account .content-panel .mails-wrapper .mail-item .star-container .fa:hover {
    color: #868c97
}

.view-account .content-panel .mails-wrapper .mail-item .mail-to {
    display: inline-block;
    margin-right: 5px;
    min-width: 120px
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject {
    display: inline-block;
    margin-right: 5px
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label {
    margin-right: 5px
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label:last-child {
    margin-right: 10px
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label a,
.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label a:hover {
    color: #fff
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label-color-1 {
    background: #f77b6b
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label-color-2 {
    background: #58bbee
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label-color-3 {
    background: #f8a13f
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label-color-4 {
    background: #ea5395
}

.view-account .content-panel .mails-wrapper .mail-item .mail-subject .label-color-5 {
    background: #8a40a7
}

.view-account .content-panel .mails-wrapper .mail-item .time-container {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #a2a6af;
    text-align: left
}

.view-account .content-panel .mails-wrapper .mail-item .time-container .attachment-container {
    display: inline-block;
    color: #a2a6af;
    margin-right: 5px
}

.view-account .content-panel .mails-wrapper .mail-item .time-container .time {
    display: inline-block;
    text-align: right
}

.view-account .content-panel .mails-wrapper .mail-item .time-container .time.today {
    font-weight: 700;
    color: #494d55
}

.drive-wrapper {
    padding: 15px;
    background: #f5f5f5;
    overflow: hidden
}

.drive-wrapper .drive-item {
    width: 130px;
    margin-right: 15px;
    display: inline-block;
    float: left
}

.drive-wrapper .drive-item:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    z-index: 1
}

.drive-wrapper .drive-item-inner {
    padding: 15px
}

.drive-wrapper .drive-item-title {
    margin-bottom: 15px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.drive-wrapper .drive-item-title a {
    color: #494d55
}

.drive-wrapper .drive-item-title a:hover {
    color: #40babd
}

.theme-2 .drive-wrapper .drive-item-title a:hover {
    color: #6dbd63
}

.theme-3 .drive-wrapper .drive-item-title a:hover {
    color: #497cb1
}

.theme-4 .drive-wrapper .drive-item-title a:hover {
    color: #ec6952
}

.drive-wrapper .drive-item-thumb {
    width: 100px;
    height: 80px;
    margin: 0 auto;
    color: #616670
}

.drive-wrapper .drive-item-thumb a {
    -webkit-opacity: .8;
    -moz-opacity: .8;
    opacity: .8
}

.drive-wrapper .drive-item-thumb a:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}

.drive-wrapper .drive-item-thumb .fa {
    display: inline-block;
    font-size: 36px;
    margin: 0 auto;
    margin-top: 20px
}

.drive-wrapper .drive-item-footer .utilities {
    margin-bottom: 0
}

.drive-wrapper .drive-item-footer .utilities li:last-child {
    padding-right: 0
}

.drive-list-view .name {
    width: 60%
}

.drive-list-view .name.truncate {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.drive-list-view .type {
    width: 15px
}

.drive-list-view .date,
.drive-list-view .size {
    max-width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.drive-list-view a {
    color: #494d55
}

.drive-list-view a:hover {
    color: #40babd
}

.theme-2 .drive-list-view a:hover {
    color: #6dbd63
}

.theme-3 .drive-list-view a:hover {
    color: #497cb1
}

.theme-4 .drive-list-view a:hover {
    color: #ec6952
}

.drive-list-view td.date,
.drive-list-view td.size {
    color: #a2a6af
}

@media (max-width:767px) {
    .view-account .content-panel .title {
        text-align: center
    }
    .view-account .side-bar .user-info {
        padding: 0
    }
    .view-account .side-bar .user-info .img-profile {
        width: 60px;
        height: 60px
    }
    .view-account .side-bar .user-info .meta li {
        margin-bottom: 5px
    }
    .view-account .content-panel .content-header-wrapper .actions {
        position: static;
        margin-bottom: 30px
    }
    .view-account .content-panel {
        padding: 0
    }
    .view-account .content-panel .content-utilities .page-nav {
        position: static;
        margin-bottom: 15px
    }
    .drive-wrapper .drive-item {
        width: 100px;
        margin-right: 5px;
        float: none
    }
    .drive-wrapper .drive-item-thumb {
        width: auto;
        height: 54px
    }
    .drive-wrapper .drive-item-thumb .fa {
        font-size: 24px;
        padding-top: 0
    }
    .view-account .content-panel .avatar .figure img {
        float: none;
        margin-bottom: 15px
    }
    .view-account .file-uploader {
        margin-bottom: 15px
    }
    .view-account .mail-subject {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .view-account .content-panel .mails-wrapper .mail-item .time-container {
        position: static
    }
    .view-account .content-panel .mails-wrapper .mail-item .time-container .time {
        width: auto;
        text-align: left
    }
}

@media (min-width:768px) {
    .view-account .side-bar .user-info {
        padding: 0;
        padding-bottom: 15px
    }
    .view-account .mail-subject .subject {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

@media (min-width:992px) {
    .view-account .content-panel {
        min-height: 800px;
        border-left: 1px solid #f3f3f7;
        margin-left: 200px
    }
    .view-account .mail-subject .subject {
        max-width: 280px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .view-account .side-bar {
        position: absolute;
        width: 200px;
        min-height: 600px
    }
    .view-account .side-bar .user-info {
        margin-bottom: 0;
        border-bottom: none;
        padding: 30px
    }
    .view-account .side-bar .user-info .img-profile {
        width: 120px;
        height: 120px
    }
    .view-account .side-bar .side-menu {
        text-align: left
    }
    .view-account .side-bar .side-menu .nav {
        display: block
    }
    .view-account .side-bar .side-menu .nav>li {
        display: block;
        float: none;
        font-size: 14px;
        border-bottom: 1px solid #f3f3f7;
        margin-right: 0;
        margin-bottom: 0
    }
    .view-account .side-bar .side-menu .nav>li>a {
        display: block;
        color: #9499a3;
        padding: 10px 15px;
        padding-left: 30px
    }
    .view-account .side-bar .side-menu .nav>li>a:hover {
        background: #f9f9fb
    }
    .view-account .side-bar .side-menu .nav>li.active a {
        background: #f9f9fb;
        border-right: 4px solid #40babd;
        border-bottom: none
    }
    .theme-2 .view-account .side-bar .side-menu .nav>li.active a {
        border-right-color: #6dbd63
    }
    .theme-3 .view-account .side-bar .side-menu .nav>li.active a {
        border-right-color: #497cb1
    }
    .theme-4 .view-account .side-bar .side-menu .nav>li.active a {
        border-right-color: #ec6952
    }
    .view-account .side-bar .side-menu .nav>li .icon {
        font-size: 24px;
        vertical-align: middle;
        text-align: center;
        width: 40px;
        display: inline-block
    }
}

















/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif
}

body {
    padding: 5px;
    background-color: #7a34ca


p {
    margin: 0%
}

.container {
    max-width: 900px;
    margin: 20px auto;
    overflow: hidden;
    background-color: #f8f9fa
}

.box-1 {
    max-width: 450px;
    padding: 10px 40px;
    user-select: none
}

.box-1 div .fs-12 {
    font-size: 8px;
    color: white
}

.box-1 div .fs-14 {
    font-size: 15px;
    color: white
}

.box-1 img.pic {
    width: 20px;
    height: 20px;
    object-fit: cover
}

.box-1 img.mobile-pic {
    width: 100%;
    height: 200px;
    object-fit: cover
}

.box-1 .name {
    font-size: 11px;
    font-weight: 600
}

.dis {
    font-size: 12px;
    font-weight: 500
}

label.box {
    width: 100%;
    font-size: 12px;
    background: #ddd;
    margin-top: 12px;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent
}

#one:checked~label.first,
#two:checked~label.second,
#three:checked~label.third {
    border-color: #7700ff
}

#one:checked~label.first .circle,
#two:checked~label.second .circle,
#three:checked~label.third .circle {
    border-color: #7a34ca;
    background-color: #fff
}

label.box .course {
    width: 100%
}

label.box .circle {
    height: 12px;
    width: 12px;
    background: #ccc;
    border-radius: 50%;
    margin-right: 15px;
    border: 4px solid transparent;
    display: inline-block
}

input[type="radio"] {
    display: none
}

.box-2 {
    max-width: 450px;
    padding: 10px 40px
}

.box-2 .box-inner-2 input.form-control {
    font-size: 12px;
    font-weight: 600
}

.box-2 .box-inner-2 .inputWithIcon {
    position: relative
}

.box-2 .box-inner-2 .inputWithIcon span {
    position: absolute;
    left: 15px;
    top: 8px
}

.box-2 .box-inner-2 .inputWithcheck {
    position: relative
}

.box-2 .box-inner-2 .inputWithcheck span {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    top: 6px
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #7700ff
}

.border:focus-within {
    border: 1px solid #7700ff !important
}

.box-2 .card-atm .form-control {
    border: none;
    box-shadow: none
}

.form-select {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.address .form-control.zip {
    border-radius: 0;
    border-bottom-left-radius: 10px
}

.address .form-control.state {
    border-radius: 0;
    border-bottom-right-radius: 10px
}

.box-2 .box-inner-2 .btn.btn-outline-primary {
    width: 120px;
    padding: 10px;
    font-size: 11px;
    padding: 0% !important;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0;
    background-color: whitesmoke;
    color: black;
    font-weight: 600
}

.box-2 .box-inner-2 .btn.btn-primary {
    background-color: #7700ff;
    color: whitesmoke;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    border: none;
    padding: 10px
}

.box-2 .box-inner-2 .btn.btn-primary:hover {
    background-color: #7a34ca
}

.box-2 .box-inner-2 .btn.btn-primary .fas {
    font-size: 13px !important;
    color: whitesmoke
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%
}

.carousel-inner {
    width: 100%;
    height: 250px
}

.carousel-item img {
    object-fit: cover;
    height: 100%
}

.carousel-control-prev {
    transform: translateX(-50%);
    opacity: 1
}

.carousel-control-prev:hover .fas.fa-arrow-left {
    transform: translateX(-5px)
}

.carousel-control-next {
    transform: translateX(50%);
    opacity: 1
}

.carousel-control-next:hover .fas.fa-arrow-right {
    transform: translateX(5px)
}

.fas.fa-arrow-left,
.fas.fa-arrow-right {
    font-size: 0.8rem;
    transition: all .2s ease
}

.icon {
    width: 30px;
    height: 30px;
    background-color: #f8f9fa;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform-origin: center;
    opacity: 1
}

.fas,
.fab {
    color: #6d6c6d
}

::placeholder {
    font-size: 12px
}

@media (max-width:768px) {
    .container {
        max-width: 700px;
        margin: 10px auto
    }

    .box-1,
    .box-2 {
        max-width: 600px;
        padding: 20px 90px;
        margin: 20px auto
    }
}

@media (max-width:426px) {

    .box-1,
    .box-2 {
        max-width: 400px;
        padding: 20px 10px
    }

    ::placeholder {
        font-size: 9px
    }
}
*/




/*body{margin-top:20px;
    background:#eee;
    }
    
    h2 {
        clear: both;
        font-size: 1.8em;
        margin-bottom: 10px;
        padding: 10px 0 10px 30px;
    }
    
    h3 > span {
        border-bottom: 2px solid #C2C2C2;
        display: inline-block;
        padding: 0 5px 5px;
    }
    
   
    #user-profile h2 {
        padding-right: 15px;
    }
    #user-profile .profile-status {
        font-size: 0.75em;
        padding-left: 12px;
        margin-top: -10px;
        padding-bottom: 10px;
        color: #8dc859;
    }
    #user-profile .profile-status.offline {
        color: #fe635f;
    }
    #user-profile .profile-img {
        border: 1px solid #e1e1e1;
        padding: 4px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #user-profile .profile-label {
        text-align: center;
        padding: 5px 0;
    }
    #user-profile .profile-label .label {
        padding: 5px 15px;
        font-size: 1em;
    }
    #user-profile .profile-stars {
        color: #FABA03;
        padding: 7px 0;
        text-align: center;
    }
    #user-profile .profile-stars > i {
        margin-left: -2px;
    }
    #user-profile .profile-since {
        text-align: center;
        margin-top: -5px;
    }
    #user-profile .profile-details {
        padding: 15px 0;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        margin: 15px 0;
    }
    #user-profile .profile-details ul {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 40px;
    }
    #user-profile .profile-details ul > li {
        margin: 3px 0;
        line-height: 1.5;
    }
    #user-profile .profile-details ul > li > i {
        padding-top: 2px;
    }
    #user-profile .profile-details ul > li > span {
        color: #34d1be;
    }
    #user-profile .profile-header {
        position: relative;
    }
    #user-profile .profile-header > h3 {
        margin-top: 10px
    }
    #user-profile .profile-header .edit-profile {
        margin-top: -6px;
        position: absolute;
        right: 0;
        top: 0;
    }
    #user-profile .profile-tabs {
        margin-top: 30px;
    }
    #user-profile .profile-user-info {
        padding-bottom: 20px;
    }
    #user-profile .profile-user-info .profile-user-details {
        position: relative;
        padding: 4px 0;
    }
    #user-profile .profile-user-info .profile-user-details .profile-user-details-label {
        width: 110px;
        float: left;
        bottom: 0;
        font-weight: bold;
        left: 0;
        position: absolute;
        text-align: right;
        top: 0;
        width: 110px;
        padding-top: 4px;
    }
    #user-profile .profile-user-info .profile-user-details .profile-user-details-value {
        margin-left: 120px;
    }
    #user-profile .profile-social li {
        padding: 4px 0;
    }
    #user-profile .profile-social li > i {
        padding-top: 6px;
    }
    @media only screen and (max-width: 767px) {
        #user-profile .profile-user-info .profile-user-details .profile-user-details-label {
            float: none;
            position: relative;
            text-align: left;
        }
        #user-profile .profile-user-info .profile-user-details .profile-user-details-value {
            margin-left: 0;
        }
        #user-profile .profile-social {
            margin-top: 20px;
        }
    }
    @media only screen and (max-width: 420px) {
        #user-profile .profile-header .edit-profile {
            display: block;
            position: relative;
            margin-bottom: 15px;
        }
        #user-profile .profile-message-btn .btn {
            display: block;
        }
    }
    
    
    .main-box {
        background: #FFFFFF;
        -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
        -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
        -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
        -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
        box-shadow: 1px 1px 2px 0 #CCCCCC;
        margin-bottom: 16px;
        padding: 20px;
    }
    .main-box h2 {
        margin: 0 0 15px -20px;
        padding: 5px 0 5px 20px;
        border-left: 10px solid #c2c2c2; 
    }
    
    .btn {
        border: none;
        padding: 6px 12px;
        border-bottom: 4px solid;
        -webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
        transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
        outline: none;
    }
    .btn-default,
    .wizard-cancel,
    .wizard-back {
        background-color: #7e8c8d;
        border-color: #626f70;
        color: #fff;
    }
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active, 
    .open .dropdown-toggle.btn-default,
    .wizard-cancel:hover,
    .wizard-cancel:focus,
    .wizard-cancel:active,
    .wizard-cancel.active,
    .wizard-back:hover,
    .wizard-back:focus,
    .wizard-back:active,
    .wizard-back.active {
        background-color: #949e9f;
        border-color: #748182;
        color: #fff;
    }
    .btn-default .caret {
        border-top-color: #FFFFFF;
    }
    .btn-info {
        background-color: #5daee7;
        border-color: #4c95c9;
    }
    .btn-info:hover,
    .btn-info:focus,
    .btn-info:active,
    .btn-info.active, 
    .open .dropdown-toggle.btn-info {
        background-color: #4c95c9;
        border-color: #3f80af;
    }
    .btn-link {
        border: none;
    }
    .btn-primary {
        background-color: #3fcfbb;
        border-color: #2fb2a0;
    }
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active, 
    .open .dropdown-toggle.btn-primary {
        background-color: #38c2af;
        border-color: #2aa493;
    }
    .btn-success {
        background-color: #8dc859;
        border-color: #77ab49;
    }
    .btn-success:hover,
    .btn-success:focus,
    .btn-success:active,
    .btn-success.active, 
    .open .dropdown-toggle.btn-success {
        background-color: #77ab49;
    }
    .btn-danger {
        background-color: #fe635f;
        border-color: #dd504c;
    }
    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger:active,
    .btn-danger.active, 
    .open .dropdown-toggle.btn-danger {
        background-color: #dd504c;
    }
    .btn-warning {
        background-color: #f1c40f;
        border-color: #d5ac08;
    }
    .btn-warning:hover,
    .btn-warning:focus,
    .btn-warning:active,
    .btn-warning.active, 
    .open .dropdown-toggle.btn-warning {
        background-color: #e0b50a;
        border-color: #bd9804;
    }
    
    .icon-box {
        
    }
    .icon-box .btn {
        border: 1px solid #e1e1e1;
        margin-left: 3px;
        margin-right: 0;
    }
    .icon-box .btn:hover {
        background-color: #eee;
        color: #2BB6A3;
    }
    
    a {
        color: #2bb6a3;
        outline: none !important;
    }
    a:hover,
    a:focus {
        color: #2bb6a3;
    }
    
    
    
    .table {
        border-collapse: separate;
    }
    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {
        background-color: #eee;
    }
    .table thead > tr > th {
        border-bottom: 1px solid #C2C2C2;
        padding-bottom: 0;
    }
    .table tbody > tr > td {
        font-size: 0.875em;
        background: #f5f5f5;
        border-top: 10px solid #fff;
        vertical-align: middle;
        padding: 12px 8px;
    }
    .table tbody > tr > td:first-child,
    .table thead > tr > th:first-child {
        padding-left: 20px;
    }
    .table thead > tr > th span {
        border-bottom: 2px solid #C2C2C2;
        display: inline-block;
        padding: 0 5px;
        padding-bottom: 5px;
        font-weight: normal;
    }
    .table thead > tr > th > a span {
        color: #344644;
    }
    .table thead > tr > th > a span:after {
        content: "\f0dc";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-left: 5px;
        font-size: 0.75em;
    }
    .table thead > tr > th > a.asc span:after {
        content: "\f0dd";
    }
    .table thead > tr > th > a.desc span:after {
        content: "\f0de";
    }
    .table thead > tr > th > a:hover span {
        text-decoration: none;
        color: #2bb6a3;
        border-color: #2bb6a3;
    }
    .table.table-hover tbody > tr > td {
        -webkit-transition: background-color 0.15s ease-in-out 0s;
        transition: background-color 0.15s ease-in-out 0s;
    }
    .table tbody tr td .call-type {
        display: block;
        font-size: 0.75em;
        text-align: center;
    }
    .table tbody tr td .first-line {
        line-height: 1.5;
        font-weight: 400;
        font-size: 1.125em;
    }
    .table tbody tr td .first-line span {
        font-size: 0.875em;
        color: #969696;
        font-weight: 300;
    }
    .table tbody tr td .second-line {
        font-size: 0.875em;
        line-height: 1.2;
    }
    .table a.table-link {
        margin: 0 5px;
        font-size: 1.125em;
    }
    .table a.table-link:hover {
        text-decoration: none;
        color: #2aa493;
    }
    .table a.table-link.danger {
        color: #fe635f;
    }
    .table a.table-link.danger:hover {
        color: #dd504c;
    }
    
    .table-products tbody > tr > td {
        background: none;
        border: none;
        border-bottom: 1px solid #ebebeb;
        -webkit-transition: background-color 0.15s ease-in-out 0s;
        transition: background-color 0.15s ease-in-out 0s;
        position: relative;
    }
    .table-products tbody > tr:hover > td {
        text-decoration: none;
        background-color: #f6f6f6;
    }
    .table-products .name {
        display: block;
        font-weight: 600;
        padding-bottom: 7px;
    }
    .table-products .price {
        display: block;
        text-decoration: none;
        width: 50%;
        float: left;
        font-size: 0.875em;
    }
    .table-products .price > i {
        color: #8dc859;
    }
    .table-products .warranty {
        display: block;
        text-decoration: none;
        width: 50%;
        float: left;
        font-size: 0.875em;
    }
    .table-products .warranty > i {
        color: #f1c40f;
    }
    .table tbody > tr.table-line-fb > td {
        background-color: #9daccb;
        color: #262525;
    }
    .table tbody > tr.table-line-twitter > td {
        background-color: #9fccff;
        color: #262525;
    }
    .table tbody > tr.table-line-plus > td {
        background-color: #eea59c;
        color: #262525;
    }
    .table-stats .status-social-icon {
        font-size: 1.9em;
        vertical-align: bottom;
    }
    .table-stats .table-line-fb .status-social-icon {
        color: #556484;
    }
    .table-stats .table-line-twitter .status-social-icon {
        color: #5885b8;
    }
    .table-stats .table-line-plus .status-social-icon {
        color: #a75d54;
    }
    
    .daterange-filter {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #CCCCCC;
        cursor: pointer;
        padding: 5px 10px;
    }
    .filter-block .form-group {
        margin-right: 10px;
        position: relative;
    }
    .filter-block .form-group .form-control {
        height: 36px;
    }
    .filter-block .form-group .search-icon {
        position: absolute;
        color: #707070;
        right: 8px;
        top: 11px;
    }
    .filter-block .btn {
        margin-left: 5px;
    }
    @media only screen and (max-width: 440px) {
        .filter-block {
            float: none !important;
            clear: both
        }
        .filter-block .form-group {
            float: none !important;
            margin-right: 0;
        }
        .filter-block .btn {
            display: block;
            float: none !important;
            margin-bottom: 15px;
            margin-left: 0;
        }
        #reportrange {
            clear: both;
            float: none !important;
            margin-bottom: 15px;
        }
    }
    
    
    .tabs-wrapper .tab-content {
        margin-bottom: 20px;
        padding: 0 10px;
    }
    
   
    .widget-users {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .widget-users li {
        border-bottom: 1px solid #ebebeb;
        padding: 15px 0;
        height: 96px;
    }
    .widget-users li > .img {
        float: left;
        margin-top: 8px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
    }
    .widget-users li > .details {
        margin-left: 60px;
    }
    .widget-users li > .details > .name {
        font-weight: 600;
    }
    .widget-users li > .details > .name > a {
        color: #344644;
    }
    .widget-users li > .details > .name > a:hover {
        color: #2bb6a3;
    }
    .widget-users li > .details > .time {
        color: #2bb6a3;
        font-size: 0.75em;
        padding-bottom: 7px;
    }
    .widget-users li > .details > .time.online {
        color: #8dc859;
    }
    
    
   
    .conversation-inner {
        padding: 0 0 5px 0;
        margin-right: 10px;
    }
    .conversation-item {
        padding: 5px 0;
        position: relative;
    }
    .conversation-user {
        width: 50px;
        height: 50px;
        overflow: hidden;
        float: left;
        border-radius: 50%;
        margin-top: 6px;
    }
    .conversation-body {
        background: #f5f5f5;
        font-size: 0.875em;
        width: auto;
        margin-left: 60px;
        padding: 8px 10px;
        position: relative;
    }
    .conversation-body:before {
        border-color: transparent #f5f5f5 transparent transparent;
        border-style: solid;
        border-width: 6px;
        content: "";
        cursor: pointer;
        left: -12px;
        position: absolute;
        top: 25px;
    }
    .conversation-item.item-right .conversation-body {
        background: #dcfffa;
    }
    .conversation-item.item-right .conversation-body:before {
        border-color: transparent transparent transparent #dcfffa;
        left: auto;
        right: -12px;
    }
    .conversation-item.item-right .conversation-user {
        float: right;
    }
    .conversation-item.item-right .conversation-body {
        margin-left: 0;
        margin-right: 60px;
    }
    .conversation-body > .name {
        font-weight: 600;
        font-size: 1.125em;
    }
    .conversation-body > .time {
        position: absolute;
        font-size: 0.875em;
        right: 10px;
        top: 0;
        margin-top: 10px;
        color: #605f5f;
        font-weight: 300;
    }
    .conversation-body > .time:before {
        content: "\f017";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-top: 4px;
        font-size: 0.875em;
    }
    .conversation-body > .text {
        padding-top: 6px;
    }
    .conversation-new-message {
        padding-top: 10px;
    }
    
    textarea.form-control {
        height: auto;
    }
    .form-control {
        border-radius: 0px;
        border-color: #e1e1e1;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    */