
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="main-container">
    <div class="view-account">
        <section class="module">
        	<div class="module-inner">
        		<div class="side-bar">
        			<div class="user-info">
        				<img class="img-profile img-circle img-responsive center-block"  src="{{this.service.apiServeUrl+'/admin/ImgOrganisation/'+organisation.id}}"
                        style="height :100px;width:fil-content"  alt="">
        			
        			</div>
                     
        			<button  (click)="onOpeAfficheModal()" type="button" class="btn btn-warning">
						Afficher document officielle 
					
						</button>
        		</div>
        		
        		<div class="content-panel">
        			
                    <br><div><br></div>
                    <br><div><br></div>

					<h1 >Détail organisation</h1>
                    <div class="address">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nom</label>
                            <div class="col-sm-9">
                                <input ngModel="{{organisation.nom}}" name="nomAdmin" id="nomAdmin"  type="text" class="form-control"readonly >
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-3">
                                <label class="col-sm-3 control-label">email</label>
                                <input  ngModel="{{organisation.email}}" name="emailAdmin" id="emailAdmin" type="text" class="form-control" readonly>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-3 control-label">tél</label>
                                <input ngModel="{{organisation.tel}}" name="tel" id="tel" type="text" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                           <div class="col-sm-5 col-sm-offset-3">
                                <label class="col-sm-3 control-label">Document</label>
                                <input  ngModel="{{organisation.document}}" name="emailAdmin" id="emailAdmin" type="text" class="form-control" readonly>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-sm-3 control-label">Adresse</label>
                                <input ngModel="{{organisation.adresse}}" name="adresse" id="adresse" type="text" class="form-control" readonly>
                            </div>
                        </div>
                        </div>


                    <h2>info directeur général </h2>
        			<div class="billing">
        			
        				<form #infoForm="ngForm"  id="billing" class="form-horizontal" method="post" action="#" role="form">
        					<div class="form-group">
        						<label class="col-sm-3 control-label">nom :</label>
        						<div class="col-sm-9">
        							<input ngModel="{{organisation.nomDG}}" name="nomDG"  id ="nomDG"type="text" class="form-control" readonly>
        							
        						</div>
        					</div>
        					<div class="form-group">
        						<label class="col-sm-3 control-label">Email </label>
        						<div class="col-sm-9">
        							<input ngModel="{{organisation.emailDG}}" name="emailDG" id="emailDG" type="text" class="form-control" readonly >
        							</div>
        					</div>
        					
        					<div class="form-group">
        						<label class="col-sm-3 control-label">tel</label>
        						<div class="col-sm-9">
        							<input ngModel="{{organisation.telDG}}" name="telDG" id="telDG"  type="text" class="form-control"  readonly >
        						
        						</div>
        					</div>
                            <br>
                            <h2>info admin :</h2>
        					<div class="address">
        						<div class="form-group">
        							<label class="col-sm-3 control-label">Nom</label>
        							<div class="col-sm-9">
        								<input ngModel="{{organisation.nomAdmin}}" name="nomAdmin" id="nomAdmin"  type="text" class="form-control"readonly >
        							</div>
                                   
        						</div>
                               
        						<div class="form-group">
        							<div class="col-sm-5 col-sm-offset-3">
                                        <label class="col-sm-3 control-label">email</label>
        								<input  ngModel="{{organisation.emailAdmin}}" name="emailAdmin" id="emailAdmin" type="text" class="form-control" readonly>
        							</div>
        							<div class="col-sm-4">
                                        <label class="col-sm-3 control-label">tel</label>
        								<input ngModel="{{organisation.telAdmin}}" name="telAdmin" id="telAdmin" type="text" class="form-control" readonly>
        							</div>
                                    <label class="col-sm-3 control-label">Adresse</label>
        							<div class="col-sm-9">
        								<input ngModel="{{organisation.nomAdmin}}" name="nomAdmin" id="nomAdmin"  type="text" class="form-control"readonly >
        							</div>
        						</div>
        						
        					</div>
                           
        						
        				



                            
        					<hr>
   
								
        					
        				</form>
        			</div>
        		</div>
        	</div>
        </section>
    </div>
</div>
  <!-- afficher document officielle -->
  <div class="modal fade" id="affDocument" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h3 class="modal-title" id="exampleModalLongTitle">Document officiel </h3>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<img src="{{this.service.apiServeUrl+'/api/Documentdemande/'+organisation.id}}"
							style="height :200px;width: fil-content" alt="">
		</div>
	  </div>
	</div>
  </div>