<div class="container" id="main-container">
  <div>
    <h1 style="color:blue; text-align: center;"><strong> Ajouter une organisation</strong></h1>
  </div>
    <form #addOrganisationForm="ngForm" (ngSubmit)="onAddOrganisation(addOrganisationForm)">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="nom">Nom de l'organisation</label>
            <input type="text" ngModel name="nom" class="form-control" id="nom" placeholder="Nom de l'organisation"  required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="email">Email</label>
            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="adresse">Adresse</label>
            <div class="input-group">
              <input type="text" ngModel name="adresse" class="form-control" id="adresse" placeholder="Adresse" aria-describedby="inputGroupPrepend" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="tel">Télephone</label>
            <input type="number" ngModel name="tel"class="form-control" id="tel" placeholder="numéro" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="m_d_oeuvre">M_d'oeuvre</label>
            <input type="text" ngModel name="m_d_oeuvre" class="form-control" id="m_d_oeuvre" placeholder="M_d'oeuvre" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="m_d_oeuvrage">M_d'oeuvrage</label>
            <input type="text" ngModel name="m_d_oeuvrage" class="form-control" id="m_d_oeuvrage" placeholder="M_d'oeuvrage" required>
          </div>
        
          </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
      </form>
</div>


 
 