
<div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div><h1 style="font-family:Marker Felt, fantasy; font-size: 28px; color:navy;">Chercher les entreprises qui vous interesse</h1></div>
            <form class="d-flex">
              <input class="form-control" type="search" [(ngModel)]="terme"
              name="terme" id="searchEntreprise" placeholder="Search" aria-label="Search" width="50px">
            </form>
          </div>
    </div>
    <br>
    <!--espace pour la liste des articles ajoutés-->
   
      <div>
        <table class="table table-primary table-hover table-striped">
          <thead>
            <tr>
              <th scope="col" class="bg-primary">#</th>
              <th scope="col" class="bg-primary">Nom</th>
              <th scope="col" class="bg-primary">Code</th>
              <th scope="col" class="bg-primary">Secteur d'activité preferée</th>
              <th scope="col" class="bg-primary">Pays</th>
              <th scope="col" class="bg-primary">Region</th>
              <th scope="col" class="bg-primary">Adresse</th>
              <th scope="col" class="bg-primary">Email</th>
              <th scope="col" class="bg-primary">Tel</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entrep of organs | filter:terme | paginate : {
                itemsPerPage:4,
                currentPage:page,
                totalItems:totalLength
                }
                ,let i= index">
              <th scope="row">{{i}}</th>
              <td>{{entrep.nom}}</td>
              <td>{{entrep.code}}</td>
              <td>{{entrep.secteur_d_activite}}</td>
              <td>{{entrep.pays}}</td>
              <td>{{entrep.region}}</td>
              <td>{{entrep.adresse}}</td>
              <td>{{entrep.email}}</td>
              <td>{{entrep.tel}}</td>
             
              
            </tr>
          </tbody>
         
        </table>
        <pagination-controls (pageChange)="page = $event" class="text-center entreprisePagination"></pagination-controls>
    </div>
        
</div>
<button class="btn mb-3 mr-3 btn-primary">Primary</button>
<button class="btn mb-3 mr-3 btn-secondary">Secondary</button>
<button class="btn mb-3 mr-3 btn-success">Success</button>
<button class="btn mb-3 mr-3 btn-info">Info</button>
<button class="btn mb-3 mr-3 btn-warning">Warning</button>
<button class="btn mb-3 mr-3 btn-danger">Danger</button>
<button class="btn mb-3 mr-3 btn-light">Light</button>
<button class="btn mb-3 mr-3 btn-orange">Orange</button>
<button class="btn mb-3 mr-3 btn-indigo">Indigo</button>
<button class="btn mb-3 mr-3 btn-pink">Pink</button>
<button class="btn mb-3 mr-3 btn-deep-orange">Deep Orange</button>
<button class="btn mb-3 mr-3 btn-aqua">Aqua</button>
<button class="btn mb-3 mr-3 btn-dark">Dark</button>
<button class="btn mb-3 mr-3 btn-black">Black</button>
<button class="btn mb-3 mr-3 btn-purple">Purple</button>
<button class="btn mb-3 mr-3 btn-blue">Blue</button>
<button class="btn mb-3 mr-3 btn-brown">Brown</button>
<button class="btn mb-3 mr-3 btn-blue-gray">Blue Gray</button>


