

    <div class="container">
      <div cass="row">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-9">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
  
                <div class="d-flex justify-content-center py-20">
                  <a href="index.html" class="logo d-flex align-items-center w-auto">
                    <img src="assets/menu/img/logo.png" alt="">
                    <span class="d-none d-lg-block">S'inscrire</span>
                  </a>
                </div><!-- End Logo -->
  
                <div class="card mb-3">
  
                  <div class="card-body">
  
                    <div class="pt-4 pb-2">
                      <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                      <p class="text-center small">Enter your personal details to create account</p>
                    </div>
  <!--alerte-->
  <div class="alert alert-success" role="alert" *ngIf="notificationAdmin==1">
   inscription avec sucée ,vous etes l'admin du CPM  <!--<a href="#" class="alert-link">an example lin</a>. Give it a click if you like.-->
  </div>


  <div class="alert alert-success" role="alert" *ngIf="notification==1">
    inscription avec succés <!--<a href="#" class="alert-link">an example lin</a>. Give it a click if you like.-->
  </div>
  <div class="alert alert-danger" *ngIf="good==1">
    <strong>nom deja existe</strong>
</div>
  <div class="alert alert-danger" *ngIf="erreur==1">
    <strong>echec d'inscription..</strong>
</div>
<div class="alert alert-danger" role="alert" *ngIf="ORGnexistepas==1">
organisation n'exiset pas cliquer  <a routerLink="/login" class="alert-link"> ICI</a>pour contacter CPMGROUP
.
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert"*ngIf="emailutulise==1" >
  <strong>email invalide  !</strong> email utulisé .
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!--adminmycpm-->
<div class="alert alert-warning alert-dismissible fade show" role="alert"*ngIf="adminmycpm==1" >
  <strong>email invalide  !</strong> vos etes l'admin d'une organisation qui a fait une  demande .
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!--code organisation-->
<div class="alert alert-warning alert-dismissible fade show" role="alert"*ngIf="codeorgani==1" >
  <strong>Attention !</strong> Vérifier le code d'organisation! .
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--fin alerte-->
<!--alerte tel-->
<div class="alert alert-warning alert-dismissible fade show" role="alert"*ngIf="alerttel==1" >
  <strong>Attention !</strong> attention numero de téléphone doit contenir 8 chiffre!! .
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


                    <form class="row g-3 needs-validation" novalidate #formRegistration="ngForm" (ngSubmit)="onAddUser(formRegistration)" >
                      <small class="text-danger">{{msg}}</small> 
                      <div class="col-12">
                        <label for="yourName" class="form-label">Code Organisation</label>
                        <input  [(ngModel)]="code"  name="code" type="text"  class="form-control" id="id_org"   required>
                        <div class="invalid-feedback">Entrer code organisation </div>
                      </div>
                      <div class="col-12">
                        <label for="yourName" class="form-label">Premier nom</label>
                        <input  [(ngModel)]="user.username" type="text" name="username" class="form-control" id="yourUserName"   required 
                        #username="ngModel" 
                      [class.is-invalid]="username.invalid && username.touched" >
                        <div class="invalid-feedback">Entrer votre  premier nom</div>
                      </div>
                      
                        
                      <div class="col-12">
                        <label for="yourName" class="form-label">Nom</label>
                        <input  [(ngModel)]="user.name"  name="name" type="text" class="form-control" id="name"   required 
                        #name="ngModel" 
                      [class.is-invalid]="name.invalid && name.touched" >
                        <div class="invalid-feedback">Entrer votre nom !</div>
                      </div>
                      <div class="col-12">
                        <label for="yourName" class="form-label">tel</label>
                        <input   [(ngModel)]="user.tel"  name="tel" type="number"  class="form-control" id="tel"   required 
                        #tel="ngModel" 
                      [class.is-invalid]="tel.invalid && tel.touched" >
                        <div class="invalid-feedback">Entrer votre numero de telephone !</div>
                      </div>

                    
  
                      <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        
             
                           <input    [(ngModel)]="user.email" name="email" type="email"  class="form-control" placeholder="Email Address"  required 
                                                     #email="ngModel" 
                                                    [class.is-invalid]="email.invalid && email.touched" >
                                                  
                                                     <div *ngIf="email.errors && (email.invalid && email.touched)">
                                                        <small class="text-danger"*ngIf="email.errors['required']"> Email is required field</small>
                                                        <small class="text-danger" *ngIf="email.errors['pattern']">       Enter the valid email</small>
                                                     </div>
                          <div class="invalid-feedback">Entrer une adresse email valide !</div>
                         
                        </div>

                     
                        <div class="col-12">
                          <label for="yourName" class="form-label">Adresse</label>
                          <input  [(ngModel)]="user.adresse" type="text" name="adresse" class="form-control" id="adresse"   required 
                          #adresse="ngModel" 
                        [class.is-invalid]="adresse.invalid && adresse.touched">
                          <div class="invalid-feedback">Entrer votre  adresse</div>
                        </div>

                      <div class="col-12">
                        <label for="yourPassword" class="form-label">Mot de passe </label>
                        <input type="password"  class="form-control" id="Password" name="password" [(ngModel)]="user.password" required
                         #password="ngModel"  [class.is-invalid]="password.invalid && password.touched">
                        <div class="invalid-feedback">Entrer un mot de passe !</div>
                      </div>
                      <div class="col-12">
                          <label for="yourPassword" class="form-label"> Confirmer mot de passe </label>
                          <input type="password"  class="form-control" id="confirmPassword" name="cpassword" (ngModel)="user.password" required
                          #cpassword="ngModel"  [class.is-invalid]="cpassword.invalid && cpassword.touched">
                          <small class="text-danger" [class.d-none]="(password.value == cpassword.value) || cpassword.untouched"> confirm mot de passe invalide  </small>
                        </div>
                        <div class="form-group">
                          <label > image: </label>
                          <input ngModel  type="file" name="filename"  accept="image/*" (change)="onSelectFile($event)"   required>
                          <img [src]="imgURL" height="200" *ngIf="imgURL">
                        </div>
  
                      <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required checked>
                          <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                          <div class="invalid-feedback">You must agree before submitting.</div>
                        </div>
                      </div>
                      <div class="col-12"><!-- [disabled]="formRegistration.form.invalid"-->
                        <button [disabled]="formRegistration.form.invalid" class="btn btn-primary w-100" type="submit">Create Account</button>
                      </div>
                    
                      <div class="col-12">
                        <p class="small mb-0">Vous avez un compte? <a [routerLink]="['/login']">authentifier</a></p>
                      </div>
                    </form>
  
                  </div>
                </div>
  
                <div class="credits">
                  
                </div>
  
              </div>
            </div>
          </div>
  
        </section>
  
      </div>
    </div>
  
