
<div class="container" id="main-container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <h1 style="font-family:Marker Felt, fantasy; font-size: 28px; color:midnightblue">Tableaux de bords</h1>
        </div>
      </div>

    <div style="width:1000px">
        <div>
            <h2 style="font-family: Comic Sans MS; color: midnightblue; text-align: center;">Nombre des utilisateurs dans chaque organisation</h2>
            <canvas id="countUser" width="700" height="250" #countUser>{{OrgUserChart}}</canvas>
        </div> 
    
    </div>
    </div>