<div class="container" id="main-container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <h1 style="font-family:Marker Felt, fantasy; font-size: 28px; color:midnightblue">Gérer les bons de livraison</h1>
      </div>
    </div>
      <div class="row">
        <div class="col-md-4">
            <div>
                <h2 style="font-family: Comic Sans MS; color: midnightblue;">Tou dabord choisissez le code du marché</h2>
                <select ngModel (ngModelChange)="getMarcheeChoisis($event)" name="marchee" id="marchee" class="form-select" placeholder="code du marché" aria-label="Default select example" required #marchee="ngModel"  [class.is-invalid]="marchee.invalid && marchee.touched">
                  <option selected value="" >choisir le code du marché</option>-->
                  <option   *ngFor="let marchee of marchees let i=index"
                  [value]="i">
                  {{marchee.code}}
                </option>
                </select>
            </div>

            <div>
              <h2 style="font-family: Comic Sans MS; color: midnightblue;">choisissez le code du bon de commande</h2>
              <select ngModel (ngModelChange)="getBondeCommandeChoisis($event)" name="bondeCommande" id="bondeCommande" class="form-select" placeholder="code Bon de Commande" aria-label="Default select example" required #bondeCommande="ngModel"  [class.is-invalid]="bondeCommande.invalid && bondeCommande.touched">
                <option selected value="">choisir le code du bon de Commande</option>-->
                <option   *ngFor="let bc of bonsdeCommandes let i=index"
                [value]="i">
                {{bc.codebc}}
              </option>
              </select>
          </div>

          <div>
            <h2 style="font-family: Comic Sans MS; color: midnightblue;">choisissez le code de l'ordre de traveaux</h2>
            <select ngModel (ngModelChange)="getOrdreTraveauxChoisis($event)" name="ordredeTraveaux" id="" class="form-select" placeholder="code OT" aria-label="Default select example" required #ordredeTraveaux="ngModel"  [class.is-invalid]="ordredeTraveaux.invalid && ordredeTraveaux.touched">
              <option selected value="">choisir le code de l'ordre de traveaux</option>-->
              <option   *ngFor="let ot of ordresDeTraveaux let i=index"
              [value]="i">
              {{ot.codeOrdre}}
            </option>
            </select>
        </div>
               
        </div>
        <div class="col-md-4">
          <h2 style="font-family: Comic Sans MS; color: midnightblue;">chercher un BL</h2>
          <input type="search" [(ngModel)]="searchBL" class="form-control" id="searchBL" name="searchBL"  placeholder="rechercher un BL">
        </div>

        <div *ngIf="ordredeTraveaux.dirty" class="col-md-4">
          <button type="button" class="btn btn-primary" style="background-color:midnightblue; border-radius: 12px;" routerLink="/mycpm/ajouterBLmMC/{{ordreDeTraveauxC?.id}}/{{metierC?.id}}">Ajouter un bon de livraison <i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>

        <div>

        
        </div>
    </div>
    <br>

   
        <h2 style="font-family: Comic Sans MS; color: midnightblue;">Liste  des bons de livraisns pour la  BC de code "{{bondeCommandeC?.codebc}}"</h2>
        <div *ngIf="bonsDelivraison?.length==0"><h2>Aucun bon de livraison pour la BC de code "{{bondeCommandeC.codebc}}"</h2></div>
       <div *ngFor="let bl of bonsDelivraison | filter:searchBL | paginate : {
        itemsPerPage:4,
        currentPage:BLpage,
        totalItems:BLstotalLength
        } let i = index" class="card col-sm-9 marcheeCard">
          <h2 style="font-weight:bold; text-align: center;"> Bon de livraison N°{{i+1}}</h2>
         <div class="card-body">
          <h3><strong>Code : </strong>{{bl.codeBonLivraisonProj}}</h3>
          <div class="row">
            <div class="col-md-4"><strong>Date création :</strong>{{bl.dateSystemeBLProj}}</div>
            <div class="col-md-4"><strong>Date de livraison:</strong>{{bl.dateLivraisonBLProj}}</div>
          </div>
            </div>
         <div class="card-body">
           <div>
            <button class="btn btn-primary" type="button" (click)="onOpenBCCollapse(i)"  style="background-color: navy;">
              materiels livrés
            </button>
           </div>
           <br>
           <div class="collapse" id="bCommande{{i}}">
             <div>
              <h2 style="font-family: Comic Sans MS; color: midnightblue;">Materiels livrés</h2>
              <table class="table table-primary table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="bg-primary">N°</th>
                    <th scope="col" class="bg-primary">CodeMateriel</th>
                    <th scope="col" class="bg-primary">Designiation</th>
                    <th scope="col" class="bg-primary">Unité</th>
                    <th scope="col" class="bg-primary">prix matériel</th>
                    <th scope="col" class="bg-primary">Quantité livré</th>
                    <th scope="col" class="bg-primary">Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let materiel of bonsDelivraison[i]?.listeMateriel ,let i= index">
                    <th scope="row">{{i}}</th>
                    <td>{{materiel.code}}</td>
                    <td>{{materiel.designation}}</td>
                    <td>{{materiel.unitee}}</td>
                    <td>{{materiel.prix}}</td>
                    <td>{{materiel.quantitee}}</td>
                    <td>{{materiel.typeLib}}</td>
                  </tr>
                </tbody>
              </table>
             </div>
           
           </div>
    
           <div>
          
         </div>
        </div>
      </div>
      <pagination-controls (pageChange)="BLpage = $event" class="text-center pagination"></pagination-controls>
    
       </div>




 
 
  