<div class="container" id="main-container">
  <div>
    <strong><h1 style="color: darkblue;">Ajouter un marché</h1></strong>
      <form #addEntrepriseForm="ngForm" >
       
       <div class="row">
        <div class="col-md-4">
          <label for="secteur_d_activite"> Secteur</label>
          <select ngModel (ngModelChange)="getMetiers($event)" name="secteur_d_activite" id="secteur_d_activite" class="form-select" placeholder="secteur_d_activite" aria-label="Default select example" [disabled]="successMarchee" required>
            <!--<option selected>choisir une option</option>-->
            <option   *ngFor="let sect of secteurs"
            [value]="sect.id">
            {{sect.nomSecteur}}
          </option>
          </select>
        </div>

          <div class="col-md-4">
              <label for="metier"> Metier</label>
              <select [(ngModel)]="idMetier" name="metier" id="metier" class="form-select"  placeholder="Metier" aria-label="Default select example" [disabled]="successMarchee" required>
                <!--<option selected>choisir une option</option>-->
                <option   *ngFor="let met of metiers"
                [value]="met.id">
                {{met.nomMetier}}
              </option>
              </select>
            </div>
       </div>

            <div class="col-md-4 mb-3">
              <label for="code">code</label>
              <input type="text" ngModel name="code"  class="form-control" id="code" placeholder="code" [disabled]="successMarchee" required>
           </div>
  
          

          <div class="col-md-4 mb-3">
            <label for="designation">Designation</label>
            <input type="text" ngModel name="designiation"  class="form-control" id="designation" [disabled]="successMarchee"  required>
         </div>
  
         <div class="row">
          <div class="col-md-4 mb-3">
            <label for="capex">Budget</label>
            <div class="form-check">
              <div class="choice">
                  <input class="form-check-input" type="radio" name="budget" id="capex" value="Capex" [disabled]="successMarchee" ngModel/>
                  <label class="form-check-label" for="capex">Capex</label>
              </div>
              <div class="choice">
                  <input class="form-check-input" type="radio" name="budget" id="oeuvrage" value="Opex" [disabled]="successMarchee" ngModel/>
                  <label class="form-check-label" for="opex">Opex</label>
              </div>
            </div> 
            </div>

            <div class="col-md-4 mb-3">
                <label for="tel">Type</label>
                <div class="form-check">
                  <div class="choice">
                      <input class="form-check-input" type="radio" name="type" id="projet" value="Projet" [disabled]="successMarchee" ngModel/>
                      <label class="form-check-label" for="projet">Projet</label>
                  </div>
                  <div class="choice">
                    <input class="form-check-input" type="radio" name="type" id="mc" value="MC" [disabled]="successMarchee" ngModel/>
                    <label class="form-check-label" for="mc">MC</label>
                </div>
              </div> 
            </div>  
         </div>
  
         <div class="row">
          <div class="col-md-4 mb-3">
            <label for="montant">Montant</label>
            <input type="number" ngModel name="montant" class="form-control" id="montant" placeholder="en dinars" [disabled]="successMarchee" required>
         </div>
 
         <div class="col-md-4 mb-3">
            <label for="delais">Delais</label>
            <input type="number" ngModel name="delais"  class="form-control" id="delais" placeholder="en jours" [disabled]="successMarchee" required>
         </div>
         </div>
          <br>
  
          <div>
            <button (click)="onAddMarchee(addEntrepriseForm,idOrgan)" class="btn btn-primary" type="submit" [disabled]="addEntrepriseForm.invalid||successMarchee">Enregistrer</button>
          </div>
          <div>
            <br>
            <div *ngIf="showExistMarcheeAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Attention</strong> code ou designation déja utilisé.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>

          <div id="toast"><div id="img">Succée</div><div id="desc">Informations enregistreés avec succé .</div></div>
  
          </form>
  
  
    <button type="button" id="enregistrer" class="btn btn-info" (click)="onOpenBCModal()">Associer une B_Commande</button>
    <br>
   
    <br>

 

     <!--tableau de bondes commande-->
  <div>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Numeros</th>
          <th scope="col">Montant</th>
          <th scope="col">Delais</th>
          <th scope="col">Entreprise</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bc of newMarchee.listeBondeCommandes,let i= index">
          <th scope="row">{{i}}</th>
          <td>{{bc.numeros}}</td>
          <td>{{bc.montant}}</td>
          <td>{{bc.delais}}</td>
          <td>{{bc.nomEntrep}}</td>
          <td><button type="button" [ngClass]="{'btn btn-success':bc.valide ,'btn btn-danger':!bc.valide}" (click)="onOpenArticlesModal(i)">Spécifier les articles</button></td>
          
        </tr>
      </tbody>
    </table>
</div>

  </div>
 
  
</div>
<!-- Add Bonde Commande modall -->
<div class="modal fade" id="addBCModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Ajouter une Entreprise</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #addBCForm="ngForm">
           <div class="col-md-4 mb-3">
            <label for="montant">montant</label>
            <input type="number" [(ngModel)]="montantNewBC" name="montant"  class="form-control" id="montant" placeholder="montant" required>
          </div>
          
          <div class="col-md-4 mb-3">
            <label for="delais">delais</label>
            <input type="number" [(ngModel)]="delaisNewBC" name="delais"  class="form-control" id="delais" placeholder="delais" required>
          </div>

          
          <div class="col-md-4 mb-3">
            <label for="delais">Entreprise</label>
            <input type="text"   name="entreprise" [(ngModel)]="codeEntreprise" class="form-control" id="entreprise" placeholder="codeEntreprise" value="codeEntreprise" required>
          </div>

              <br>
              <div *ngIf="alerteCodeInexistant" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Attention</strong> code entreprise introubable.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              
              <div class="modal-footer">
                 <button type="button" id="add-entrep-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                 <button [disabled]="addBCForm.invalid" type="submit" class="btn btn-primary" (click)="addBC(addBCForm)" >Save</button>
              </div>
              </form>
      </div>
    </div>
  </div>
</div>


<!-- Specifier article modal modall -->
<div class="modal fade" id="articleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Spécifier les articles</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row mt-4 pt-2 align-items-center">
              <div class="col-lg-3 col-md-4 col-12">
                  <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                      <li class="nav-item mb-4 pt-2">
                          <a class="nav-link rounded-pill" id="pills-cloud-tab" data-toggle="pill" href="#pills-cloud" role="tab" aria-controls="pills-cloud" aria-selected="false">
                              <div class="screenshot text-center pt-2 pb-2">
                                  <h4 class="title font-weight-normal mb-0">Ajouter des articles</h4>
                              </div>
                          </a><!--end nav link-->
                      </li><!--end nav item-->
                      
                      <li class="nav-item mb-4 pt-2">
                          <a class="nav-link rounded-pill" id="pills-smart-tab" data-toggle="pill" href="#pills-smart" role="tab" aria-controls="pills-smart" aria-selected="false">
                              <div class="screenshot text-center pt-2 pb-2">
                                  <h4 class="title font-weight-normal mb-0">Liste articles ajoutés</h4>
                              </div>
                          </a><!--end nav link-->
                      </li><!--end nav item-->
                      
                      <li class="nav-item mb-4 pt-2">
                          <a class="nav-link rounded-pill" id="pills-apps-tab" data-toggle="pill" href="#pills-apps" role="tab" aria-controls="pills-apps" aria-selected="false">
                              <div class="screenshot text-center pt-2 pb-2">
                                  <h4 class="title font-weight-normal mb-0">Chercher un article</h4>
                              </div>
                          </a><!--end nav link-->
                      </li><!--end nav item-->

                      <li class="nav-item mb-4 pt-2">
                          <a class="nav-link rounded-pill active" id="pills-intelligence-tab" data-toggle="pill" href="#pills-intelligence" role="tab" aria-controls="pills-intelligence" aria-selected="true">
                              <div class="screenshot text-center pt-2 pb-2">
                                  <h4 class="title font-weight-normal mb-0">Business Intelligence</h4>
                              </div>
                          </a><!--end nav link-->
                      </li><!--end nav item-->
                  </ul><!--end nav pills-->
              </div><!--end col-->

              <div class="col-lg-9 col-md-8 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                  <div class="tab-content" id="pills-tabContent">
                    <!--espace pour ajouter les articles-->
                      <div class="tab-pane fade" id="pills-cloud" role="tabpanel" aria-labelledby="pills-cloud-tab">
                        <form #addArticleForm="ngForm">

                        <div class="row">
                          <label for="montant">Code</label>
                          <div class="col-md-4">
                            <input type="text" [(ngModel)]="codeArticle" name="code"  class="form-control" id="code" placeholder="code" required>
                          </div>
                          <div class="col-md-4">
                            <button type="button" class="btn btn-warning" (click)="getArticleByCode(codeArticle)">OK</button>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <label for="delais">Desigation</label>
                            <input type="text" ngModel="{{newArticle.designation}}" name="designation"  class="form-control" id="designation" placeholder="designation" readonly required>
                          </div>
                          <div class="col-md-4">
                            <label for="delais">Unité</label>
                            <input type="text" ngModel="{{newArticle.unitee}}"   name="unitee"  class="form-control" id="unitee" placeholder="unitee" readonly required>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <label for="delais">Prix</label>
                            <input type="text" ngModel name="prix"  class="form-control" id="prix" placeholder="prix" required>
                          </div>
                          <div class="col-md-4">
                            <label for="delais">Quantitée</label>
                            <input type="text" ngModel name="quantitee"  class="form-control" id="quantitee" placeholder="quantitee" required>
                          </div>
                        </div>
                        <br>

                        <div class="col-md-3 .ms-auto">
                          <button type="button" class="btn btn-success" (click)="addNewwArticle(addArticleForm)">Valider l'article</button>
                        </div>
                        <div class="row">
                          <div class="row"><h3 style="color: darkred;">nombre article saisies : {{newMarchee.listeBondeCommandes[indiceBC]?.listeArticles?.length}} </h3></div>
                          <div class="row"><h3 style="color: darkred;">montant total {{calculTotalArticles(newMarchee.listeBondeCommandes[indiceBC]?.listeArticles!)}} : </h3></div>
                          
                        </div>
                      
                            <br>
                            <div *ngIf="alerteCodeArticleIncorrecte" class="alert alert-danger alert-dismissible fade show" role="alert">
                              <strong>Attention</strong> code incorecte ou metier inspécifié
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            
                            <div class="modal-footer">
                               <button type="button" id="add-article-bComm" class="btn btn-secondary" data-dismiss="modal">Close</button>
                               <button type="submit" class="btn btn-primary" (click)="validerArticles(newMarchee.listeBondeCommandes[indiceBC])">Save</button>
                            </div>

                            <div *ngIf="alerteTotalArticle" class="alert alert-danger alert-dismissible fade show" role="alert">
                              <strong>Attention</strong> le montant total des articles est differant du montant du bonde commande
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            </form>
                      </div><!--end teb pane-->

                      <!--espace pour la liste des articles ajoutés-->
                      <div class="tab-pane fade" id="pills-smart" role="tabpanel" aria-labelledby="pills-smart-tab">
                        <div>
                          <table class="table table-success table-striped">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Code</th>
                                <th scope="col">designation</th>
                                <th scope="col">unitee</th>
                                <th scope="col">prix</th>
                                <th scope="col">quantitee</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let art of newMarchee.listeBondeCommandes[indiceBC]?.listeArticles,let i= index">
                                <th scope="row">{{i}}</th>
                                <td>{{art.code}}</td>
                                <td>{{art.designation}}</td>
                                <td>{{art.unitee}}</td>
                                <td>{{art.prix}}</td>
                                <td>{{art.quantitee}}</td>
                                <td><button type="button" class="btn btn-danger">modifier</button></td>
                                
                              </tr>
                            </tbody>
                          </table>
                      </div>
                      
                         
                      </div><!--end teb pane-->

                      <div class="tab-pane fade" id="pills-apps" role="tabpanel" aria-labelledby="pills-apps-tab" >
                        <img src="https://via.placeholder.com/800x400/87CEFA/000000" class="img-fluid" alt="">
                      </div><!--end teb pane-->

                      <div class="tab-pane fade active show" id="pills-intelligence" role="tabpanel" aria-labelledby="pills-intelligence-tab">
                          <img src="https://via.placeholder.com/800x400/20B2AA/000000" class="img-fluid" alt="">
                      </div><!--end teb pane-->
                  </div><!--end tab content-->
              </div><!--end col-->
          </div><!--end row-->

      </div>
         
      </div>
    </div>
  </div>
</div>






  

