<div class="container" id="main-container">
  <div class="row">
    <strong><h1 style="color: darkblue;">Ajouter un marché</h1></strong>
    <div class="col">
      <form #addEntrepriseForm="ngForm" >
        <div class="col-md-4 mb-3">
          <label for="secteurd_activitee">Secteur d'activité</label>
          <input type="text" ngModel="{{organisation?.secteur_d_activite}}" name="secteurd_activitee"  class="form-control" id="secteurd_activitee" placeholder="secteurd_activitee" required>
       </div>

          <div class="col-md-4 mb-3">
              <label for="metier"> Metier</label>
              <select ngModel name="metier" id="metier" class="form-select" placeholder="Metier" aria-label="Default select example" required>
                <!--<option selected>choisir une option</option>-->
                <option   *ngFor="let met of metiers"
                [value]="met.nomMetier">
                {{met.nomMetier}}
              </option>
              </select>
            </div>

            <div class="col-md-4 mb-3">
              <label for="code">code</label>
              <input type="text" ngModel name="code"  class="form-control" id="code" placeholder="code" required>
           </div>
  
          

          <div class="col-md-4 mb-3">
            <label for="designation">Designation</label>
            <input type="text" ngModel name="designiation"  class="form-control" id="designation"  required>
         </div>
  
          <div class="col-md-6 mb-3">
              <label for="capex">Budget</label>
              <div class="form-check">
                <div class="choice">
                    <input class="form-check-input" type="radio" name="budget" id="capex" value="Capex" ngModel/>
                    <label class="form-check-label" for="capex">Capex</label>
                </div>
                <div class="choice">
                    <input class="form-check-input" type="radio" name="budget" id="oeuvrage" value="Opex" ngModel/>
                    <label class="form-check-label" for="opex">Opex</label>
                </div>
              </div> 
              </div>
  
              <div class="col-md-6 mb-3">
                  <label for="tel">Type</label>
                  <div class="form-check">
                    <div class="choice">
                        <input class="form-check-input" type="radio" name="type" id="projet" value="Projet" ngModel/>
                        <label class="form-check-label" for="projet">Projet</label>
                    </div>
                    <div class="choice">
                      <input class="form-check-input" type="radio" name="type" id="mc" value="MC" ngModel/>
                      <label class="form-check-label" for="mc">MC</label>
                  </div>
                </div> 
              </div>  
  
          <div class="col-md-4 mb-3">
             <label for="montant">Montant</label>
             <input type="number" ngModel name="montant" class="form-control" id="montant" placeholder="en dinars" required>
          </div>
  
          <div class="col-md-4 mb-3">
             <label for="delais">Delais</label>
             <input type="number" ngModel name="delais"  class="form-control" id="delais" placeholder="en jours" required>
          </div>
          <br>
  
          <div>
            <button (click)="onAddMarchee(addEntrepriseForm,idOrgan)" class="btn btn-primary" type="submit" [disabled]="addEntrepriseForm.invalid||successMarchee">Enregistrer</button>
          </div>
          <div>
            <br>
            <div *ngIf="showExistMarcheeAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Attention</strong> code ou designation déja utilisé.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>

          <div id="toast"><div id="img">Succée</div><div id="desc">Information enregistreés avec succé .</div></div>
  
          </form>
  </div>
  
  <div class="col">
    <button type="button" id="enregistrer" class="btn btn-info" (click)="onOpenBCModal()">Associer une B_Commande</button>
  </div>
  </div>
</div>
<!-- Add Bonde Commande modall -->
<div class="modal fade" id="addBCModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Ajouter une Entreprise</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #addEntrepriseForm="ngForm" >
              <div class="form-group">
                 <label for="numero">Numero Bonde Commande</label>
                 <input type="number" ngModel name="numero"  class="form-control" id="n" placeholder="numéro" required>
              </div>
              <div class="form-group">
                 <label for="montant">Montant</label>
                 <input type="number" ngModel name="montant"  class="form-control" id="montant" placeholder="montant" required>
              </div>
              <div class="form-group">
                 <label for="delais">Delais</label>
                 <input type="number" ngModel name="delais" class="form-control" id="delais" placeholder="delais" required>
              </div>
              <div>
                <label for="entreprises">Entreprise</label>
                <select ngModel name="entreprise" id="entreprise" class="form-select" aria-label="Default select example">
                  <!--<option selected>choisir une option</option>-->
                  <option   *ngFor="let entrep of entreprises"
                  [value]="entrep.id">
                  {{entrep.nom}}
                </option>
                </select>
              </div>
              <br>
              
              <div class="modal-footer">
                 <button type="button" id="add-entrep-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                 <button [disabled]="addEntrepriseForm.invalid" type="submit" class="btn btn-primary" >Save</button>
              </div>
              </form>
      </div>
    </div>
  </div>
</div>
<h3>hbhhgghfh</h3>

