
<div class="container" id="main-container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Demande d'inscription </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a    routerLink="inscrire" class="nav-item nav-link active" ><span class="sr-only">S 'inscrire</span></a>
        <a  class="nav-item nav-link" >UpdateInscription</a>
        <a class="nav-item nav-link" href="#">Delete inscription</a>
      
        
        
      </div>
    </div>
  </nav>



  

<router-outlet></router-outlet>




           