
<div class="container" id="main-container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Demande d'inscription </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a    routerLink="inscrire" class="nav-item nav-link active" ><span class="sr-only">S 'inscrire</span></a>
        <a  class="nav-item nav-link" >UpdateInscription</a>
        <a class="nav-item nav-link" href="#">Delete inscription</a>
      
        
        
      </div>
    </div>
  </nav>



  <div class="modal fade" id="updateDemandeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{editDemande?.nom}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="name">Name</label>
                   <input type="text" ngModel="{{editDemande?.nom}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
                </div>
                <input type="hidden" ngModel="{{editDemande?.email}}" name="id" class="form-control" id="id" placeholder="Email">
                <input type="hidden"  name="userCode" class="form-control" id="userCode" placeholder="Email">
                <div class="form-group">
                   <label for="email">Email Address</label>
                   <input type="email"  name="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                   <label for="phone">Job title</label>
                   <input type="text" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title">
                </div>
                <div class="form-group">
                   <label for="phone">Phone</label>
                   <input type="text"  name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
                </div>
                <div class="form-group">
                   <label for="phone">Image URL</label>
                   <input type="text"  name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button  data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
    </div>




</div>
<router-outlet></router-outlet>

           