<div class="container" id="main-container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <h1 style="font-family:Marker Felt, fantasy; font-size: 28px; color:midnightblue">Tableaux de bords</h1>
        </div>
      </div>
<div>
    <div style="width:1000px">
        <div>
            <h2 style="font-family: Comic Sans MS; color: midnightblue; text-align: center;">Nombre de marchés pour chaque métier</h2>
            <canvas id="countMarcheeByMetier" width="700" height="250" #countMarcheeByMetier>{{marcheeParMetierChart}}</canvas>
        </div> 

       <div class="row">
        <div class="col" style="width:400px; height: 400px;" >
            <h2 style="font-family: Comic Sans MS; color: midnightblue; text-align: center;">Nombre de marchés par type (Projet ou Marché cadre)</h2>
            <canvas id="nombreMarchees" width="100" height="100" #nombreMarchees>{{nombreMarcheesChart}}</canvas>
        </div>
        
        <div class="col" style="width:400px; height: 400px;" >
            <h2 style="font-family: Comic Sans MS; color: midnightblue; text-align: center;">Participations des entreprises partenaires (nombre de BCs exécutés par chaque entreprise)</h2>
            <canvas id="countEntreprises" width="100" height="100" #countEntreprises>{{countEntreprisesChart}}</canvas>
        </div> 
       </div>
       <div>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
       </div>
       <div style="height:150">
        <h2 style="font-family: Comic Sans MS; color: midnightblue; text-align: center;">Montant des marchés</h2>
        <canvas id="montantsDesMarchees" width="300" height="100" #montantsDesMarchees>{{montantsMarcheesChart}}</canvas>
       </div> 
  </div>
      
     </div>
     <div>
     
   
</div>
</div>
