<div class="container" id="main-container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <h1 style="font-family:Marker Felt, fantasy; font-size: 28px; color:midnightblue">Consulter les attachements</h1>
      </div>
    </div>
      <div class="row">
        <div class="col-md-4">
            <div>
                <h2 style="font-family: Comic Sans MS; color: midnightblue;">Tou dabord choisissez le code du marché</h2>
                <select ngModel (ngModelChange)="getMarcheeChoisis($event)" name="marchee" id="marchee" class="form-select" placeholder="code du marché" aria-label="Default select example" required #marchee="ngModel"  [class.is-invalid]="marchee.invalid && marchee.touched">
                  <option selected value="" >choisir le code du marché</option>-->
                  <option   *ngFor="let marchee of marchees let i=index"
                  [value]="i">
                  {{marchee.code}}
                </option>
                </select>
            </div>

            <div>
              <h2 style="font-family: Comic Sans MS; color: midnightblue;">choisissez le code du bon de commande</h2>
              <select ngModel (ngModelChange)="getBondeCommandeChoisis($event)" name="bondeCommande" id="bondeCommande" class="form-select" placeholder="code Bon de Commande" aria-label="Default select example" required #bondeCommande="ngModel"  [class.is-invalid]="bondeCommande.invalid && bondeCommande.touched">
                <option selected value="">choisir le code du bon de Commande</option>-->
                <option   *ngFor="let bc of bonsdeCommandes let i=index"
                [value]="i">
                {{bc.codebc}}
              </option>
              </select>
          </div>
               
        </div>
        <div>

        
        </div>
    </div>
    <br>

    <div class="card col-sm-9 marcheeCard" >
        <h2 style="font-weight:bold; text-align: center;"> Bon de commande</h2>
       <div class="card-body">
        <h3><strong>Code : </strong>{{bondeCommandeC?.codebc}}</h3>
        <h3><strong >Entreprise(Fournisseur) </strong> {{bondeCommandeC?.nomEntrep}}</h3>
          </div>
          <div class="card-body container">
                      <div class="row">
                          <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                              <li class="nav-item mb-4 pt-2">
                                  <a class="nav-link rounded-pill" id="global" data-toggle="pill" href="#Aglobal" role="tab" aria-controls="Aglobal" aria-selected="false">
                                      <div class="screenshot text-center pt-2 pb-2">
                                          <h4 class="title font-weight-normal mb-0">Attachements globals</h4>
                                      </div>
                                  </a><!--end nav link-->
                              </li><!--end nav item-->
                              
                              <li class="nav-item mb-4 pt-2">
                                  <a class="nav-link rounded-pill" id="journalier" data-toggle="pill" href="#Ajournalier" role="tab" aria-controls="Ajournalier" aria-selected="false">
                                      <div class="screenshot text-center pt-2 pb-2">
                                          <h4 class="title font-weight-normal mb-0">Attachements journaliers</h4>
                                      </div>
                                  </a><!--end nav link-->
                              </li><!--end nav item-->
                              
                              <li class="nav-item mb-4 pt-2">
                                  <a class="nav-link rounded-pill" id="periode" data-toggle="pill" href="#Aparperiode" role="tab" aria-controls="Aparperiodes" aria-selected="false">
                                      <div class="screenshot text-center pt-2 pb-2">
                                          <h4 class="title font-weight-normal mb-0">Attachements par périodes</h4>
                                      </div>
                                  </a><!--end nav link-->
                              </li><!--end nav item-->
                          </ul><!--end nav pills-->
                      </div><!--end row-->
        
                      <div class="row">
                          <div class="tab-content" id="pills-tabContent">
                            <!--espace pour ajouter les attachements global-->
                              <div class="tab-pane fade" id="Aglobal" role="tabpanel" aria-labelledby="pills-cloud-tab">
                                <div>
                                  <h2 style="font-family: Comic Sans MS; color: midnightblue;">Prestations exécutés par attachements dans cette bon de commande</h2>
                                  <table class="table table-primary table-hover table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="bg-primary">N°</th>
                                        <th scope="col" class="bg-primary">CodeArticle</th>
                                        <th scope="col" class="bg-primary">Designiation</th>
                                        <th scope="col" class="bg-primary">Unité</th>
                                        <th scope="col" class="bg-primary">Quantité total réalisée</th>
                                        <th scope="col" class="bg-primary">Type</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let attach of attachementsGlobalsPrestations ,let i= index">
                                        <th scope="row">{{i}}</th>
                                        <td>{{attach.code}}</td>
                                        <td>{{attach.designation}}</td>
                                        <td>{{attach.unitee}}</td>
                                        <td>{{attach.quantiteeRealisee}}</td>
                                        <td>{{attach.typeLib}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                 </div>
                                 <br>

                              
                                  <div>
                                    <h2 style="font-family: Comic Sans MS; color: midnightblue;">Materiels Fournisseur realisés par attachements dans cette bon de commande</h2>
                                    <table class="table table-primary table-hover table-striped">
                                      <thead>
                                        <tr>
                                          <th scope="col" class="bg-primary">N°</th>
                                          <th scope="col" class="bg-primary">CodeArticle</th>
                                          <th scope="col" class="bg-primary">Designiation</th>
                                          <th scope="col" class="bg-primary">Unité</th>
                                          <th scope="col" class="bg-primary">Quantité total réalisée</th>
                                          <th scope="col" class="bg-primary">Type</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let attach of attachementsGlobalsMFs ,let i= index">
                                          <th scope="row">{{i}}</th>
                                          <td>{{attach.code}}</td>
                                          <td>{{attach.designation}}</td>
                                          <td>{{attach.unitee}}</td>
                                          <td>{{attach.quantiteeRealisee}}</td>
                                          <td>{{attach.typeLib}}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>

                                  <div>
                                    <h2 style="font-family: Comic Sans MS; color: midnightblue;">Materiels en regie par attachements dans cette bon de commande</h2>
                                    <table class="table table-primary table-hover table-striped">
                                      <thead>
                                        <tr>
                                          <th scope="col" class="bg-primary">N°</th>
                                          <th scope="col" class="bg-primary">CodeArticle</th>
                                          <th scope="col" class="bg-primary">Designiation</th>
                                          <th scope="col" class="bg-primary">Unité</th>
                                          <th scope="col" class="bg-primary">Quantité total réalisée</th>
                                          <th scope="col" class="bg-primary">Type</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let attach of attachementsGlobalsMateriels ,let i= index">
                                          <th scope="row">{{i}}</th>
                                          <td>{{attach.code}}</td>
                                          <td>{{attach.designation}}</td>
                                          <td>{{attach.unitee}}</td>
                                          <td>{{attach.quantiteeRealisee}}</td>
                                          <td>{{attach.typeLib}}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>

                                  <div>
                                    <button type="button" class="btn btn-dark"
                                     [useExistingCss]="true"
                                     printTitle="Attachement"  
                                     printSectionId="PrintAttachementGlobal"  
                                     ngxPrint>
                                      Imprimer<i class="fa fa-print" aria-hidden="true"></i>
                                     </button>
                                 </div>
                              </div><!--end teb pane-->
        
                              <!--espace pour les attachements journaliers-->
                              <div class="tab-pane fade" id="Ajournalier" role="tabpanel" aria-labelledby="pills-smart-tab">
                                <div>
                                  <div>
                                    <label for="dateA">Date</label>
                                    <input type="date"   name="dateA" (ngModelChange)="getDateAttachementJournalier($event)" [(ngModel)]="dateA" class="form-control" id="dateA" placeholder="date" required>
                                  </div>
                                  <br>
                                  <h2 style="font-family: Comic Sans MS; color: midnightblue; font-size:large;">Prestations exécutés par attachements dans cette bon de commande à la date "{{dateA}}"</h2>
                                  <table class="table table-primary table-hover table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="bg-primary">N°</th>
                                        <th scope="col" class="bg-primary">CodeArticle</th>
                                        <th scope="col" class="bg-primary">Designiation</th>
                                        <th scope="col" class="bg-primary">Unité</th>
                                        <th scope="col" class="bg-primary">Quantité  totalréalisée</th>
                                        <th scope="col" class="bg-primary">Type</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let attach of attachementsJournaliersPrestations ,let i= index">
                                        <th scope="row">{{i}}</th>
                                        <td>{{attach.code}}</td>
                                        <td>{{attach.designation}}</td>
                                        <td>{{attach.unitee}}</td>
                                        <td>{{attach.quantiteeRealisee}}</td>
                                        <td>{{attach.typeLib}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <br>


                                <div>
                                  <h2 style="font-family: Comic Sans MS; color: midnightblue; font-size:large;">Materiels Fournisseur realisés par attachements dans cette bon de commande à la date "{{dateA}}"</h2>
                                  <table class="table table-primary table-hover table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="bg-primary">N°</th>
                                        <th scope="col" class="bg-primary">CodeArticle</th>
                                        <th scope="col" class="bg-primary">Designiation</th>
                                        <th scope="col" class="bg-primary">Unité</th>
                                        <th scope="col" class="bg-primary">Quantité  totalréalisée</th>
                                        <th scope="col" class="bg-primary">Type</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let attach of attachementsJournaliersMFs ,let i= index">
                                        <th scope="row">{{i}}</th>
                                        <td>{{attach.code}}</td>
                                        <td>{{attach.designation}}</td>
                                        <td>{{attach.unitee}}</td>
                                        <td>{{attach.quantiteeRealisee}}</td>
                                        <td>{{attach.typeLib}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>

                                <div>
                                  <h2 style="font-family: Comic Sans MS; color: midnightblue; font-size:large;">Materiels en regie realisés par attachements dans cette bon de commande à la date "{{dateA}}"</h2>
                                  <table class="table table-primary table-hover table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="bg-primary">N°</th>
                                        <th scope="col" class="bg-primary">CodeArticle</th>
                                        <th scope="col" class="bg-primary">Designiation</th>
                                        <th scope="col" class="bg-primary">Unité</th>
                                        <th scope="col" class="bg-primary">Quantité  totalréalisée</th>
                                        <th scope="col" class="bg-primary">Type</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let attach of attachementsJournaliersMateriels ,let i= index">
                                        <th scope="row">{{i}}</th>
                                        <td>{{attach.code}}</td>
                                        <td>{{attach.designation}}</td>
                                        <td>{{attach.unitee}}</td>
                                        <td>{{attach.quantiteeRealisee}}</td>
                                        <td>{{attach.typeLib}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>

                                <div>
                                  <button type="button" class="btn btn-dark"
                                   [useExistingCss]="true"
                                   printTitle="Attachement"  
                                   printSectionId="printAttachementJournalier"  
                                   ngxPrint>
                                    Imprimer<i class="fa fa-print" aria-hidden="true"></i>
                                   </button>
                               </div>
                              </div><!--end teb pane-->
        
                              <!--espace pour les attachements par période -->
                              <div class="tab-pane fade" id="Aparperiode" role="tabpanel" aria-labelledby="pills-apps-tab" >
                                <div class="row">

                                  <label for="date1">Debut</label>
                                  <div class="col-md-4">
                                    <input type="date"   name="date1"  [(ngModel)]="date1" class="form-control" id="dateA" placeholder="date" required>
                                  </div>

                                  <label for="date1">Fin</label>
                                  <div class="col-md-4">
                                    <input type="date"   name="date2"  [(ngModel)]="date2" class="form-control" id="dateA" placeholder="date" required>
                                  </div>

                                  <div class="col-md-4">
                                    <button type="button" class="btn btn-dark" (click)="getAllAttachementsParPeriode(bondeCommandeC.id!,date1,date2)">OK</button>
                                  </div>
                                  <br>
                                  <h2 style="font-family: Comic Sans MS; color: midnightblue; font-size: large;">Prestations exécutés dans les attachements par bon de commande à la periode :(de "{{date1}}" à "{{date2}}" )</h2>
                                  <table class="table table-primary table-hover table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="bg-primary">N°</th>
                                        <th scope="col" class="bg-primary">CodeArticle</th>
                                        <th scope="col" class="bg-primary">Designiation</th>
                                        <th scope="col" class="bg-primary">Unité</th>
                                        <th scope="col" class="bg-primary">Quantité total réalisée</th>
                                        <th scope="col" class="bg-primary">Type</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let attach of attachementsParPeriodePrestations ,let i= index">
                                        <th scope="row">{{i}}</th>
                                        <td>{{attach.code}}</td>
                                        <td>{{attach.designation}}</td>
                                        <td>{{attach.unitee}}</td>
                                        <td>{{attach.quantiteeRealisee}}</td>
                                        <td>{{attach.typeLib}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <br>


                                <div>
                                  <h2 style="font-family: Comic Sans MS; color: midnightblue; font-size: large;">Materiels Fournisseur realisés dans les attachements par bon de commande à la periode :(de "{{date1}}" à "{{date2}}" )</h2>
                                  <table class="table table-primary table-hover table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="bg-primary">N°</th>
                                        <th scope="col" class="bg-primary">CodeArticle</th>
                                        <th scope="col" class="bg-primary">Designiation</th>
                                        <th scope="col" class="bg-primary">Unité</th>
                                        <th scope="col" class="bg-primary">Quantité total réalisée</th>
                                        <th scope="col" class="bg-primary">Type</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let attach of attachementsParPeriodeMFs ,let i= index">
                                        <th scope="row">{{i}}</th>
                                        <td>{{attach.code}}</td>
                                        <td>{{attach.designation}}</td>
                                        <td>{{attach.unitee}}</td>
                                        <td>{{attach.quantiteeRealisee}}</td>
                                        <td>{{attach.typeLib}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>

                                <div>
                                  <h2 style="font-family: Comic Sans MS; color: midnightblue; font-size: large;">Materiels en regie realisés dans les attachements par bon de commande à la periode :(de "{{date1}}" à "{{date2}}" )</h2>
                                  <table class="table table-primary table-hover table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="bg-primary">N°</th>
                                        <th scope="col" class="bg-primary">CodeArticle</th>
                                        <th scope="col" class="bg-primary">Designiation</th>
                                        <th scope="col" class="bg-primary">Unité</th>
                                        <th scope="col" class="bg-primary">Quantité total réalisée</th>
                                        <th scope="col" class="bg-primary">Type</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let attach of attachementsParPeriodeMateriels ,let i= index">
                                        <th scope="row">{{i}}</th>
                                        <td>{{attach.code}}</td>
                                        <td>{{attach.designation}}</td>
                                        <td>{{attach.unitee}}</td>
                                        <td>{{attach.quantiteeRealisee}}</td>
                                        <td>{{attach.typeLib}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>

                                <div>
                                  <button type="button" class="btn btn-dark"
                                   [useExistingCss]="true"
                                   printTitle="Attachement"  
                                   printSectionId="printAttachementParPeriode"  
                                   ngxPrint>
                                    Imprimer<i class="fa fa-print" aria-hidden="true"></i>
                                   </button>
                               </div>
                              </div><!--end teb pane-->
                     </div>
                  </div>
          </div>
          </div>
    
</div>





<div id="PrintAttachementGlobal" style="display: none;">
    <div><h4><strong>Organisation :</strong>{{organisationConnectee?.nom}}</h4></div>
  <h2 style="font-family:Marker Felt, fantasy; font-size: 28px; text-align: center; color: black;"> Attachement global</h2>
    <div>
      <div>
        <h3><strong>Code du bon de commande : </strong>{{bondeCommandeC?.codebc}}</h3>
        <h3><strong >Entreprise(Fournisseur) </strong> {{bondeCommandeC?.nomEntrep}}</h3>
          </div>
      <h4 style="font-family: Comic Sans MS; color: midnightblue;">Prestations exécutés par attachements dans cette bon de commande</h4>
      <table class="table table-primary table-hover table-striped">
        <thead>
          <tr>
            <th scope="col" class="bg-primary">N°</th>
            <th scope="col" class="bg-primary">CodeArticle</th>
            <th scope="col" class="bg-primary">Designiation</th>
            <th scope="col" class="bg-primary">Unité</th>
            <th scope="col" class="bg-primary">Quantité total réalisée</th>
            <th scope="col" class="bg-primary">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attach of attachementsGlobalsPrestations ,let i= index">
            <th scope="row">{{i}}</th>
            <td>{{attach.code}}</td>
            <td>{{attach.designation}}</td>
            <td>{{attach.unitee}}</td>
            <td>{{attach.quantiteeRealisee}}</td>
            <td>{{attach.typeLib}}</td>
          </tr>
        </tbody>
      </table>
    </div>
     <br>

  
      <div>
        <h4 style="font-family: Comic Sans MS; color: midnightblue;">Materiels Fournisseur realisés par attachements dans cette bon de commande</h4>
        <table class="table table-primary table-hover table-striped">
          <thead>
            <tr>
              <th scope="col" class="bg-primary">N°</th>
              <th scope="col" class="bg-primary">CodeArticle</th>
              <th scope="col" class="bg-primary">Designiation</th>
              <th scope="col" class="bg-primary">Unité</th>
              <th scope="col" class="bg-primary">Quantité total réalisée</th>
              <th scope="col" class="bg-primary">Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let attach of attachementsGlobalsMFs ,let i= index">
              <th scope="row">{{i}}</th>
              <td>{{attach.code}}</td>
              <td>{{attach.designation}}</td>
              <td>{{attach.unitee}}</td>
              <td>{{attach.quantiteeRealisee}}</td>
              <td>{{attach.typeLib}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <h4 style="font-family: Comic Sans MS; color: midnightblue;">Materiels Fournisseur en regie par attachements dans cette bon de commande</h4>
        <table class="table table-primary table-hover table-striped">
          <thead>
            <tr>
              <th scope="col" class="bg-primary">N°</th>
              <th scope="col" class="bg-primary">CodeArticle</th>
              <th scope="col" class="bg-primary">Designiation</th>
              <th scope="col" class="bg-primary">Unité</th>
              <th scope="col" class="bg-primary">Quantité total réalisée</th>
              <th scope="col" class="bg-primary">Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let attach of attachementsGlobalsMateriels ,let i= index">
              <th scope="row">{{i}}</th>
              <td>{{attach.code}}</td>
              <td>{{attach.designation}}</td>
              <td>{{attach.unitee}}</td>
              <td>{{attach.quantiteeRealisee}}</td>
              <td>{{attach.typeLib}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      

      <br style="height: 100px;">
      <div class="row">
        <div class="col"><h4>Observations :</h4></div>
        <div class="col"><h4>Signature :</h4></div>
      </div> 
</div>



<div id="printAttachementJournalier" style="display: none;">
    <div><h4><strong>Organisation :</strong>{{organisationConnectee?.nom}}</h4></div>
  <h2 style="font-family:Marker Felt, fantasy; font-size: 28px; text-align: center; color: black;"> Attachement Journalier</h2>
      <div>
        <h3><strong>Code du bon de commande : </strong>{{bondeCommandeC?.codebc}}</h3>
        <h3><strong >Entreprise(Fournisseur) </strong> {{bondeCommandeC?.nomEntrep}}</h3>
      </div>
    <div>
      <div><h4><strong>Date :</strong> {{dateA}}</h4></div>
      <br>
      <h4 style="font-family: Comic Sans MS; color: midnightblue; font-size:large;">Prestations exécutés par attachements dans cette bon de commande à la date "{{dateA}}"</h4>
      <table class="table table-primary table-hover table-striped">
        <thead>
          <tr>
            <th scope="col" class="bg-primary">N°</th>
            <th scope="col" class="bg-primary">CodeArticle</th>
            <th scope="col" class="bg-primary">Designiation</th>
            <th scope="col" class="bg-primary">Unité</th>
            <th scope="col" class="bg-primary">Quantité  totalréalisée</th>
            <th scope="col" class="bg-primary">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attach of attachementsJournaliersPrestations ,let i= index">
            <th scope="row">{{i}}</th>
            <td>{{attach.code}}</td>
            <td>{{attach.designation}}</td>
            <td>{{attach.unitee}}</td>
            <td>{{attach.quantiteeRealisee}}</td>
            <td>{{attach.typeLib}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>


    <div>
      <h4 style="font-family: Comic Sans MS; color: midnightblue; font-size:large;">Materiels Fournisseur realisés par attachements dans cette bon de commande à la date "{{dateA}}"</h4>
      <table class="table table-primary table-hover table-striped">
        <thead>
          <tr>
            <th scope="col" class="bg-primary">N°</th>
            <th scope="col" class="bg-primary">CodeArticle</th>
            <th scope="col" class="bg-primary">Designiation</th>
            <th scope="col" class="bg-primary">Unité</th>
            <th scope="col" class="bg-primary">Quantité  totalréalisée</th>
            <th scope="col" class="bg-primary">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attach of attachementsJournaliersMFs ,let i= index">
            <th scope="row">{{i}}</th>
            <td>{{attach.code}}</td>
            <td>{{attach.designation}}</td>
            <td>{{attach.unitee}}</td>
            <td>{{attach.quantiteeRealisee}}</td>
            <td>{{attach.typeLib}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <h4 style="font-family: Comic Sans MS; color: midnightblue; font-size:large;">Materiels en regie realisés par attachements dans cette bon de commande à la date "{{dateA}}"</h4>
      <table class="table table-primary table-hover table-striped">
        <thead>
          <tr>
            <th scope="col" class="bg-primary">N°</th>
            <th scope="col" class="bg-primary">CodeArticle</th>
            <th scope="col" class="bg-primary">Designiation</th>
            <th scope="col" class="bg-primary">Unité</th>
            <th scope="col" class="bg-primary">Quantité  totalréalisée</th>
            <th scope="col" class="bg-primary">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attach of attachementsJournaliersMateriels ,let i= index">
            <th scope="row">{{i}}</th>
            <td>{{attach.code}}</td>
            <td>{{attach.designation}}</td>
            <td>{{attach.unitee}}</td>
            <td>{{attach.quantiteeRealisee}}</td>
            <td>{{attach.typeLib}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br style="height: 100px;">
      <div class="row">
        <div class="col"><h4>Observations :</h4></div>
        <div class="col"><h4>Signature :</h4></div>
      </div> 
</div>


<div id="printAttachementParPeriode" style="display: none;">
 <div><h4><strong>Organisation :</strong>{{organisationConnectee?.nom}}</h4></div>
  <h4 style="font-family:Marker Felt, fantasy; font-size: 28px; text-align: center; color: black;"> Attachement par Période</h4>
    <div>
      <h3><strong>Code du bon de commande : </strong>{{bondeCommandeC?.codebc}}</h3>
      <h3><strong >Entreprise(Fournisseur) </strong> {{bondeCommandeC?.nomEntrep}}</h3>
    </div>
        <div class="col-md-4"><h4><strong>Journée du :</strong>{{date1}}<strong> à :{{date2}}</strong></h4></div>
    <br>
    <div>
      <h2 style="font-family: Comic Sans MS; color: midnightblue; font-size: large;">Prestations exécutés dans les attachements par bon de commande à la periode :(de "{{date1}}" à "{{date2}}" )</h2>
      <table class="table table-primary table-hover table-striped">
        <thead>
          <tr>
            <th scope="col" class="bg-primary">N°</th>
            <th scope="col" class="bg-primary">CodeArticle</th>
            <th scope="col" class="bg-primary">Designiation</th>
            <th scope="col" class="bg-primary">Unité</th>
            <th scope="col" class="bg-primary">Quantité total réalisée</th>
            <th scope="col" class="bg-primary">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attach of attachementsParPeriodePrestations ,let i= index">
            <th scope="row">{{i}}</th>
            <td>{{attach.code}}</td>
            <td>{{attach.designation}}</td>
            <td>{{attach.unitee}}</td>
            <td>{{attach.quantiteeRealisee}}</td>
            <td>{{attach.typeLib}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>


    <div>
      <h4 style="font-family: Comic Sans MS; color: midnightblue; font-size: large;">Materiels Fournisseur realisés dans les attachements par bon de commande à la periode :(de "{{date1}}" à "{{date2}}" )</h4>
      <table class="table table-primary table-hover table-striped">
        <thead>
          <tr>
            <th scope="col" class="bg-primary">N°</th>
            <th scope="col" class="bg-primary">CodeArticle</th>
            <th scope="col" class="bg-primary">Designiation</th>
            <th scope="col" class="bg-primary">Unité</th>
            <th scope="col" class="bg-primary">Quantité total réalisée</th>
            <th scope="col" class="bg-primary">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attach of attachementsParPeriodeMFs ,let i= index">
            <th scope="row">{{i}}</th>
            <td>{{attach.code}}</td>
            <td>{{attach.designation}}</td>
            <td>{{attach.unitee}}</td>
            <td>{{attach.quantiteeRealisee}}</td>
            <td>{{attach.typeLib}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <h4 style="font-family: Comic Sans MS; color: midnightblue; font-size: large;">Materiels en regie realisés dans les attachements par bon de commande à la periode :(de "{{date1}}" à "{{date2}}" )</h4>
      <table class="table table-primary table-hover table-striped">
        <thead>
          <tr>
            <th scope="col" class="bg-primary">N°</th>
            <th scope="col" class="bg-primary">CodeArticle</th>
            <th scope="col" class="bg-primary">Designiation</th>
            <th scope="col" class="bg-primary">Unité</th>
            <th scope="col" class="bg-primary">Quantité total réalisée</th>
            <th scope="col" class="bg-primary">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attach of attachementsParPeriodeMateriels ,let i= index">
            <th scope="row">{{i}}</th>
            <td>{{attach.code}}</td>
            <td>{{attach.designation}}</td>
            <td>{{attach.unitee}}</td>
            <td>{{attach.quantiteeRealisee}}</td>
            <td>{{attach.typeLib}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <br style="height: 100px;">
      <div class="row">
        <div class="col"><h4>Observations :</h4></div>
        <div class="col"><h4>Signature :</h4></div>
      </div> 

</div>






 
 
  