<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<div class="container" id="main-container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-title">
                <div class="col-xs-20">
                    <a (click)="onOpenModal(demande, 'supprimerTous')" class="btn btn-danger" data-toggle="modal">
                         <span>Supprimer tout</span></a>
                    <a  routerLink="/passerdemande" class="btn btn-success" > <span>Créer une demande
                            </span></a>

                </div>
                <div>

                </div>
                <h2>liste <b>des demandes approuvées </b>
                
                </h2>
                <div class="row">
                    <div class="col-md-2">

                        <div class="form-outline">
                            <input [(ngModel)]="terme" name="terme" type="search" id="terme" data-toggle="modal" /><i
                                class="material-icons"></i>
                            <label class="form-label" for="form1">Recherche</label>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr >



                        <th>status</th>
                        <th><span>nom</span></th>
                        <th><span>image</span></th>
                        <th><span>pays</span></th>
                        <th class="text-center"><span>Secteur</span></th>
                        <th><span>Email</span></th>
                        <th><span>Action</span></th>

                    </tr>


                </thead>
                <tbody>
                    <tr *ngFor="let demande of ListeApprouvee | filter:terme | paginate : {
                            itemsPerPage:4,
                            currentPage:page,
                            totalItems:totalLength
                            }, let i=index">

                        <th>
                            <div>
                                <li><button
                                        [ngClass]="{'btn btn-success':demande.demandeStatus ,'btn btn-danger':!demande.demandeStatus}"
                                        type="button">
                                        <i class="fa fa-check-square"></i>
                                    </button>
                                </li>
                            </div>
                        </th>



                        <td>

                            <span class="label label-default">{{demande?.nom}}</span>
                        </td>

                        <td><img src="{{this._servicedemande.apiServeUrl+'/api/Imgdemande/'+demande.id}}"
                                style="height :50px;width:fil-content" alt="">


                        </td>
                        <td>
                            <span class="label label-default">{{demande.pays}}</span>
                        </td>
                        <td class="text-center">
                            <span class="label label-default">{{demande?.secteur_d_activite}}</span>
                        </td>
                        <td>
                            <span class="label label-default">{{demande?.email}}</span>

                        </td>
                        <td>
                            <div>
                                <!--<a   (click)="DeleteDemande(demande.id)"class="btn btn-danger" >
           <i  class="fa fa-trash-o fa-lg"></i> Delete</a>-->
                                <!--lien vers la page detaildemande-->
                                <a (click)="onOpenDeleteModal(demande.id)" class="btn btn-default btn-sm">
                                    <i class=""></i> Supprimer
                                </a>

                                <a (click)="onAfficheDetail(demande.id)" class="btn btn-default btn-sm">
                                    <i class="fa fa-cog"></i>Plus de détail
                                </a>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="page = $event" class="text-center entreprisePagination">
            </pagination-controls>
        </div>
    </div>
</div>

<!-- Delete Modal HTML -->
<div id="deleteAllEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Supprimer tous les  demandes </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Vous etes sure de supprimer tous les demandes ?</p>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Retour">
                    <input type="submit" class="btn btn-danger" value="Supprimer">
                </div>
            </form>
        </div>
    </div>
</div>
<div id="delete" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="alert alert-success" role="alert" *ngIf="sppalerte==1">
          supression avec succés <!--<a href="#" class="alert-link">an example lin</a>. Give it a click if you like.-->
          </div>
        <form>
          <div class="modal-header">						
            <h4 class="modal-title">Supprimer Employée</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">					
            <p>Vous etes sure de supprimer cette employée ??</p>
            <p class="text-warning"><small>	Cette action ne peut pas être annulée..</small></p>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Retour">
            <input  (click)="supprimer(demande .id)" type="submit" class="btn btn-danger" value="Supprimer">
          </div>
        </form>
      </div>
    </div>
  </div>
